[2017-01-11 10:10] Wirone opened #4 "Installing coding standards when executing Composer with --no-scripts"
I've successfully integrated your installer and `frenck/php-compatibility` in Symfony application and it works on my localhost. However, when I want to use Gitlab CI it fails, because:
- we use `incenteev/composer-parameter-handler` for semi-automatic parameters configuration and few of them need to be set in order to work (Gitlab CI works in non-interactive mode and takes all parameters from dist

[2017-01-11 19:15] Potherca commented on #4
Good to hear you have gotten things to work!

![](https://dealerdirect.github.io/Achievements/img/badges/png/badge_thumb.png)

In regards to your question, I'm not entirely sure I understand your current situation.

Am I correct in assuming your `composer.json` looks something similar to the example below?

[code]

You would want to run `phpcs` on `post-install-cmd` but, on Gitlab CI, not the othe

[2017-01-11 20:21] Potherca commented on #4
@frenck The most simple way I can think of is to expose the functionality of the plugin directly so it could be called as an (aliased) composer-script command. I've drafted a working example in PR #5.

The plugin could be triggered by the following `composer.json`:

[code]

That way,  `composer install --no-scripts` could be run to install all of the dependencies without triggering any composer-sc

[2017-01-11 20:48] Wirone commented on #4
We have standard scripts definition for Symfony project:

[code]

And there is `gitlab-ci.yml` where under `before_scripts` section we have `composer install` (and other scripts). After composer install, when `Incenteev\\ParameterHandler\\ScriptHandler::buildParameters` is invoked (with non-interactive mode) all parameters from dist are saved to target config file, then `Sensio\\Bundle\\Distributi

[2017-02-05 02:59] christopher-hopper opened #7 "Install Plugin provides no feedback"
## Problem/Motivation

After running a Composer install or update there is nothing in the command output to show what was changed (or not changed) by this installer plugin.

## Expected behaviour

Composer will output the PHP CodeSniffer configuration key and value that it has set or changed.

## Actual behaviour

Nothing is shown to even indicate whether this Composer Plugin for PHP CodeSniffer w

[2017-02-05 11:44] Potherca commented on #4
This feature was discussed with @frenck and we're going to add it to the plugin.

The plan is to add unit-tests once PR's #6 and #8 have been merged, after that my PR will be updated and this feature will be implemented.

[2017-02-05 11:56] Potherca commented on #7
I'm in favour of this.

[2017-02-05 13:45] frenck opened #9 "Add PHPUnit tests and CI"
## Motivation

The user base of this plugin seems to grow, which is awesome but we need to maintain its quality, while also being able to accept PR's.

## Proposed changes

PHPUnit tests for this plugin and Travis CI running them on every single commit and/or PR.

1. [ ] Create PHPUnit tests.
1. [x] Configure [Travis CI with this repository](https://travis-ci.org/DealerDirect/phpcodesniffer-compos

[2017-02-05 14:06] frenck commented on #7
This is a major improvement! Thanks for creating this issue and even more thanks for the PR!

For the future it would be even more awesome if we could display the actual ruleset names instead of paths.

[2017-02-05 14:27] Potherca commented on #9
I'll pick up writing unit tests.

[2017-02-05 23:30] christopher-hopper commented on #9
I can assist with the Travis CI integration. I have recent experience on this using Appveyor (Windows) and CircleCI. Agree that Travis is the best option for this project.

[2017-02-06 07:22] #7 closed

[2017-02-06 07:23] frenck commented on #7
Merged, thank you for this PR!

[2017-02-06 07:26] frenck commented on #9
@christopher-hopper Thank you for your offer.

I think it would be wise for us to first setup the basics with our Travis CI account ourselves, afterwards your are of course welcome to improve 🥇

[2017-02-06 23:59] christopher-hopper opened #11 "Create new stable release version to support wider use"
## Problem/Motivation

Now we've extended support for existing packages that use a slightly deeper folder structure, I'm keen to see a new version number bump soon. Some projects do not like using `dev-master` version constraints and set Composer minimum stability to prevent `@dev` or `dev-master` versions from being used.

This would help me with getting the Drupal Coder maintainers to adopt your

[2017-02-07 00:01] christopher-hopper commented on #11
This is the issue I have open currently with the Drupal Coder project maintainers, asking them to make a change that would support use of your excellent plugin:

- [Drupal Coder issue 2848532](https://www.drupal.org/node/2848532#comment-11920051)

[2017-02-07 07:33] frenck commented on #11
Hi @christopher-hopper, thank you for your issues.

I want to include #5 into the next release and maybe even some CI / QA assurance.

The currently timeframe is set to release a new version this week. Thank you for your patience.

[2017-02-07 11:19] christopher-hopper commented on #11
Sounds good. Thanks again for supporting collaboration on the project.

On Tue, Feb 7, 2017, 18:33 Franck Nijhof <notifications@github.com> wrote:

[2017-02-14 16:15] Potherca commented on #4
This has been fixed in PR #5, should be part of the upcoming release (see issue #11).

[2017-02-14 16:15] #4 closed

[2017-02-15 10:58] frenck commented on #11
@christopher-hopper v0.3.0 has been released.

This fulfils the request in this issue, therefor closing it.

[2017-02-15 10:59] #11 closed

[2017-02-15 11:12] frenck commented on #9
Related to this issue:

I've added Scrutinizer to this repository.

[2017-02-15 17:11] bastianschwarz opened #13 "Plugin not working correctly when sniffs install depth is equal to "1""
## Problem/Motivation

Since I use the "*" constraint in our projects, the package updated to 0.3.0 today. Right now, the default PHPCompatiblity sniff can not be found. I have not yet looked into it myself in the hope that you might know right away what the issue is.

## Expected behaviour

PHPComptability sniff should still be installed

[code]

## Actual behaviour

Sniff is not installed:

[cod

[2017-02-15 17:29] frenck commented on #13
@bastianschwarz Thank you for this bug report.

There are no migrations needed, so nothing wrong on your end.

I will run test against the latest version asap and report back.

[2017-02-15 17:54] frenck commented on #13
I was not successful in reproducing.

I've created an empty directory and place the following composer.json:

[code]

Ran `composer install`, and it worked as expected.
Next I've modified the version of this plugin in the composer.json to `*` and ran `composer update`.

[code]

I've also tried a version with a fresh install using the latest version directly, this also worked fine.

Some extra ques

[2017-02-15 18:27] bastianschwarz commented on #13
No, the PHP_CodeSniffer version was not updated and it's a local install, not a global one.

I'm at home now and have to wait for my food, so I'll see if I can repoduce the issue with any of my own projects which use the same setup.

[2017-02-15 19:00] bastianschwarz commented on #13
Just reproduced it with one of my projects: https://github.com/codenamephp/platform.di

There is an ant build.xml in the project root that executes the compatiblity check, basically the same call I did in the issue description.

1.` $ ant phpcomp -> works`
1. `$ composer update; ant phpcomp` -> updates to 0.3.0 -> still works (sniff still in place from the previous install)
1. `$ rm -rf vendor; co

[2017-02-15 19:02] frenck commented on #13
I will check your project locally.

Note: You're talking about exceptions. It would be really useful if you'd include them in this issue report.

[2017-02-15 19:05] bastianschwarz commented on #13
Sure, it's just the default "Sniff not found"

[code]

[2017-02-15 19:37] frenck commented on #13
@bastianschwarz I was able to reproduce the issue with this repository, thank you. I've actually pinpointed the situation where it goes wrong, let me explain.

Running a `composer update` on your repository actually causes 31 packages to update and 1 new dependency is installed newly. Including:
- `dealerdirect/phpcodesniffer-composer-installer` (v0.2.1 => v0.3.0)
- `squizlabs/php_codesniffer` (2.

[2017-02-15 22:25] bastianschwarz commented on #13
Sadly, the workaround did not work for me, neither for the update nor a clean install so I had a look at the plugin.

What I found:

After a clean install, the installedPaths are empty. The "frenck/php-compatibility" package is found by getPHPCodingStandardPackages() but since the Finder in updateInstalledPaths() sets the depth to >1 (which is depth 2), but the ruleset.xml in the frenck/php-compat

[2017-02-16 14:38] Wirone commented on #13
@bastianschwarz same here, needed to change minimal depth in order to properly install `PHPCompatibility`. Half an hour lost.

[2017-02-16 17:26] tmountjr opened #14 "Install sniffs with relative paths in CodeSniffer.conf"
## Problem/Motivation

My workflow involves running a development version of a site in a vagrant environment while editing code on the host in Atom. I have php_codesniffer installed as a composer dependency in vagrant and through `linter-phpcs` in Atom. Importantly, I installed the packages from within the vagrant environment.

For reference, here's the `require` section of my `composer.json`:

[c

[2017-02-16 21:36] Potherca commented on #13
@bastianschwarz Thanks for the details, it is evening here, I will take a look at this issue in the morning.
@Wirone I'm sorry for your lost of time and any frustrations that might have caused.
@frenck I'll set up some test scenario's Friday to validate the various use-cases that the plugin is supposed to support. Maybe add those unit-tests we talked about.

I've you can all spare us a day or so,

[2017-02-16 21:40] Potherca commented on #14
@tmountjr Thanks for taking the time to report this!

In regards to the relative paths, we might be able to add a config setting that can be changed from the `composer.json` to force relative paths. I'll give it some thought and report back when I have a plan on how to approach this.

In regards to `composer update`, that might be related to #13. Or not. I agree to first resolve the path issue and

[2017-02-16 22:09] christopher-hopper commented on #13
I'm taking a look at the [Finder depth method](http://api.symfony.com/3.2/Symfony/Component/Finder/Finder.html#method_depth) docs and testing some scenarios.

:+1: for some unit tests. I'll see if I can suggest a couple for this particular issue to prevent it ever reoccurring. I'll push that separately probably as it's part of the larger CI/Unit Testing push in #9

Apologise for not seeing this du

[2017-02-17 09:37] Potherca commented on #13
We've been debugging this issue and the Finder Depth does indeed seem to be the root of the issue.
However, it turns out that several other things coincide, causing some confusing behaviour:

- When this plugin is installed globally, composer will load the global plugin
  rather than the one from the local repository. Despite being [documented behaviour](https://getcomposer.org/doc/articles/plugin

[2017-02-17 09:57] #13 closed

[2017-02-17 10:09] frenck commented on #13
I've just released version [v0.3.1](https://github.com/DealerDirect/phpcodesniffer-composer-installer/releases/tag/v0.3.1), which includes a hotfix for the search depth issue.

Please note, as @Potherca wrote already, composer will use the previous installed plugin version while upgrading. If you still wind up with a broken setup after upgrading the plugin, please run `composer update nothing` in

[2017-02-17 10:11] Potherca opened #16 "Documented behaviour surrounding updates and (global) installs"
## Problem/Motivation

When this plugin is installed globally, composer will load the global plugin rather than the one from the local repository. Despite this behaviour being [documented in the composer manual](https://getcomposer.org/doc/articles/plugins.md#using-plugins), it can potentially cause confusion for end-users.

The same applies when working with an existing vendor directory: if compo

[2017-02-17 10:38] Wirone commented on #4
Thank you very much, it works as expected :+1:

Just as a note, this feature can be used like this:

[code]

You can then use `composer run-script install-php-compatibility-sniff` at any moment.

Also in Gitlab CI's `before_script` you can install vendors with `--no-scripts` option and then install sniff in order to use PHPCS with PHPCompatibility.

[2017-02-17 10:47] Potherca commented on #4
![Smiling Face](https://dealerdirect.github.io/Memes/img/png/happy.png)

Thanks for the feedback. I'll be sure to update the documentation (including an example).

[2017-02-17 10:50] frenck opened #17 "Add a CHANGELOG.md"
## Problem/Motivation

To make it easier for users and contributors to see precisely what notable changes have been made between each release (or version) of the project, a changlog should be added.

## Expected behaviour / Actual behaviour / Steps to reproduce

_Does not apply_

## Proposed changes

Add a changelog file to the root of this repository, using the format specified in the [Keep a CHA

[2017-02-17 10:51] Potherca opened #18 "Document the ability to execute the main plugin functionality directly"
## Problem/Motivation

The main functionality of this plugin (installing a custom code sniff) can be called separately (see isue #4).
However, this functionality has not (yet) been documented. It could be useful for users to be made aware of this feature in the documentation.

## Expected behaviour / Actual behaviour / Steps to reproduce

_Does not apply_

## Proposed changes

Document what the fu

[2017-02-17 11:00] bastianschwarz commented on #13
@frenck Just tested it in one of our projects, works! Thanks for the fix!

[2017-02-17 11:10] Wirone commented on #18
Before making docs consider refactoring of plugin's class and entry point method's names. In my opinion they're not descriptive, especially the latter.

Both (class and method) should be named in a way like `Incenteev\\ParameterHandler\\ScriptHandler::buildParameters` or `Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::clearCache`.

Maybe `Dealerdirect\\Composer\\Plugin\\Installers\\P

[2017-02-17 11:20] Potherca commented on #18
Valid point, will clarify the method name. As naming a thing is hard, @frenck: do you have any quams about  `PHPCompatibilityPlugin::installSniffs()`?

[2017-02-17 11:24] frenck commented on #18
@Potherca nope, I agree with @Wirone.

[2017-02-17 11:47] Wirone commented on #18
Now when I think of it, it should **not** be named `PHPCompatibilityPlugin` since it's not only about PHPCompatibility, but any custom standard, right?

So maybe `CustomStandardsPlugin::installStandards()`?

We all know phrase about naming and invalidating cache :rofl:

[2017-02-23 16:55] Wirone commented on #13
We also upgraded to 0.3.1 and it's working. Thanks!

[2017-02-23 19:36] Potherca commented on #17
I've been using [skywinder/Github-Changelog-Generator](https://github.com/skywinder/Github-Changelog-Generator) and at first sight it looks good.

There might be some minor points for improvement, but I'm sure we could open some PRs (or maintain a corporate fork) to tweak it for our own use...

[2017-03-08 19:52] bastianschwarz opened #19 "Coding Standard tries itself to install with installPath when it's the root package"
## Problem/Motivation

Today, I started to develop my own coding style. Of course, I want to use the same CI tools, including PHPCompatibility. Unfortunately, the installer tries to install the root package by using the install path (which isn't available, since the root package of course doesn't install itself).

## Expected behaviour

The installer should install all dependency packages with the

[2017-03-08 19:54] bastianschwarz commented on #19
As I understand, the package adds itself so the coding style is also used when running Codesniffer on the style itself, so it is wanted behaviour, correct?

I might be able to look into this at the weekend and open a PR (no promises though).

You don't happen to have your formatting settings for usage in Netbeans lying around, do you?

[2017-03-09 08:15] Potherca commented on #19
Hi @bastianschwarz, thanks for reporting this!

I've just discussed this with @frenck and we're going to take a more detailed look at this issue tomorrow (Friday).

Our current thinking is to implement both of your suggested changes:

1. Add a check to ignore the RootPackageInterface
2. Add separate logic to look for sniffs in the RootPackage

Well post an update when we've implemented these chang

[2017-03-09 08:33] Potherca opened #20 "Check the root package for sniffs to install"
## Problem/Motivation

As described in #19, the installer does not look in the root package. As it is completely viable for root packages to contain a code sniff, the installer should also check the root package.

## Expected behaviour / Actual behaviour / Steps to reproduce

_Not applicable._

## Proposed changes

A separate step needs to be implemented that checks the root package to see if it c

[2017-03-09 08:46] bastianschwarz commented on #19
Sounds great, give me a shout if I can do anything to help.

[2017-03-16 11:38] Potherca commented on #19
As you might have noticed we hadn't gotten around to this issue. Your pull-request is much appreciated!

The changes from your PR have been merged and will be released with v0.3.2 as soon as #22 has been merged.

[2017-03-16 11:38] #19 closed

[2017-03-29 14:25] Potherca commented on #16
Fixed in #22

[2017-03-29 14:25] #16 closed

[2017-04-08 12:51] fadoe opened #23 "Config codings styles in composer.json from project"
## Problem/Motivation

Your plugin only works, when the type in the composer.json from the codings standard is "phpcodesniffer-standard". The problem: this is not a requirement and not a standard.

## Expected behaviour

I can install any coding standard that use the Codesniffer-Standard. There must not be a type "phpcodesniffer-standard" in composer.json from the coding standard. E.g. "move-eleva

[2017-04-11 11:37] Potherca commented on #23
Although we appreciate the effort that has gone into reporting this, we do not intend to support this feature.

The main reason are:

1. In it's first incarnation, this package used to have this functionality. That didn't work too well in various scenarios (including meta-packages) and with some edge-cases. If you would like to know more details on this topic, I can ask @frenck to expand on it.
2.

[2017-04-11 11:37] #23 closed

[2017-05-01 16:05] jrfnl opened #24 "Question: how does this library handle multiple standards as dependencies ?"
## Question

Say you have a project in which you require both a project specific coding standard, such as the Joomla or WordPress Coding Standards, as well as the PHPCompatibility standard to check for cross-version compatibility issues.

Assume that both these PHPCS standards require this library and have their `type` set to `phpcodesniffer-standard`,

How does this installer handle that ?

PHPCS

[2017-05-02 18:23] Potherca commented on #24
Given the scenario that a user has defined two sniffs as a dependency, the installer installs both sniffs.

The path of _both_ sniffs are added to the  PHP Codesniffer configuration file at `vendor/squizlabs/php_codesniffer/CodeSniffer.conf`.

A full working example, including a more verbose explanation can be found at https://github.com/Potherca/phpcodesniffer-composer-installer_issue-24

If anyt

[2017-05-03 01:56] jrfnl commented on #24
@Potherca Thanks for the clarification. One more question: what about if the user installs the sniff library as "global" using Composer and they already have one or more other standards installed globally ? (which they're not updating at the same time)

[2017-05-03 14:14] Potherca commented on #24
The behaviour between "global" or "local" install is the same.

If a sniff is already installed _before_ the installer is installed, the installer does not do anything when it is installed (as the sniff is already installed and no installation is needed).

However, when another sniff is installed _after_ the installer has been installed, _both_ sniffs will be installed by the installer.

I have up

[2017-05-03 14:27] jrfnl commented on #24
@Potherca Thanks for the clarification. This has answered my questions.

[2017-05-03 14:27] #24 closed

[2017-05-09 08:26] Wirone commented on #17
Guys, do you know http://keepachangelog.com/ ?

[2017-05-09 11:32] Potherca commented on #17
Yes, we do :smile_cat:  [skywinder/Github-Changelog-Generator](https://github.com/skywinder/Github-Changelog-Generator) is keepachangelog.com compatible.

[2017-05-09 11:34] frenck commented on #17
We currently already use the output of it in the GitHub releases descriptions of this repository.

https://github.com/DealerDirect/phpcodesniffer-composer-installer/releases

[2017-05-09 12:33] Wirone commented on #17
@Potherca Oh, I missed that part in description (shame on me). I must check `skywinder/Github-Changelog-Generator` in that case :-)

[2017-05-09 16:40] frenck commented on #20
Added this feature in PR #25 and is waiting code review.

[2017-05-10 06:31] frenck commented on #14
@Potherca I've looked into ways of implementing this and here is my main concern: What is you want relative paths in your development environment (e.g. Vagrant) and absolute paths in productions?

Using a config setting will makes this harder.

My suggestion (but harder to implement) is to use relative paths on "local" repositories and absolute paths when using globals installations.

This should

[2017-05-10 07:10] Potherca commented on #14
## TL;DR

I think using relative paths for local installs and absolute paths for global installs is a good solution.
Currently I do not see any downsides to this approach.

## More detailed response

Generally speaking, making "a thing" configurable can be a signal of taking the easy way out. (In effect placing the responsibility with the user and not the code).

Having thought about this feature

[2017-05-10 07:15] frenck opened #26 "Add support for code standards in root of repository for PHP_CodeSniffer 3.x"
## Problem/Motivation

PHP_CodeSniffer requires the coding standards to be in a directory, this behaviour changed in 3.x.

"The installed_paths config setting can now point directly to a standard. Previously, it had to always point to the directory in which the standard lives"

See the release notes:
https://github.com/squizlabs/PHP_CodeSniffer/releases/tag/3.0.0a1

This plugin does not support th

[2017-05-10 07:42] frenck commented on #20
Merged into the master branch and will in the next release.

[2017-05-10 07:42] #20 closed

[2017-05-10 11:41] frenck commented on #14
Implemented a change for this, opened PR #28

[2017-05-10 13:10] frenck commented on #14
Merged with master, will be in the next release.

[2017-05-10 13:10] #14 closed

[2017-05-10 13:48] Potherca commented on #18
Added documentation to the README, leaving the method/class rename for another issue.

[2017-05-10 13:53] Potherca commented on #18
Resolved by #29 will be included in the upcoming `v0.4` release.

[2017-05-10 13:53] #18 closed

[2017-05-10 13:57] Potherca commented on #9
Travis and PR-build have been resolved.

[2017-05-10 14:39] frenck commented on #17
I've discussed this today with @Potherca and @brammittendorff-dd in person.

Some time ago we already started keeping a change log between releases in the [GitHub releases section of this repository](https://github.com/DealerDirect/phpcodesniffer-composer-installer/releases).

Keeping a second change log inside the repo seems duplicate and causes extra overhead in the review process. Secondly; the

[2017-05-11 07:37] frenck commented on #26
Added in #30, closing issue.

[2017-05-11 07:37] #26 closed

[2017-05-11 08:06] frenck commented on #17
Added references to the changelogs in #31. Closing this issue.

[2017-05-11 08:06] #17 closed

[2017-05-31 15:10] Wirone opened #32 "Invalid "installed_paths" config value"
## Problem/Motivation

Relates to v0.4.0

PHPCodeSniffer's `installed_paths` config value is set incorrectly.

Two problems:
- `frenck/php-compatibility` is duplicated: once it's absolute, once it's relative path
- Paths contain directories different than `phpcodesniffer-standard` type of package (`../../doctrine`)

## Expected behaviour

Two problems:
- Paths should contain unique values
- Paths

[2017-05-31 16:06] frenck commented on #32
@Wirone Thank you for opening this issue.

I will start with the second issue "Paths should contain only packages with 'phpcodesniffer-standard type'". In general, I agree on this. Nevertheless, we also support coding standards in the root package itself (See #19 and #20). That's why the 'getcwd()' was added.

The first problem "Paths should contain unique values" might be a result of this... I'm

[2017-05-31 16:41] Wirone commented on #32
@frenck I think you did not understand correctly, or I don't understand "root package" purpose - nevermind, I'll try to explain more.

I have Symfony app where I have `frenck/php-compatibility` and `doctrine/doctrine-cache-bundle` as dependencies. When `Plugin::run()` is called `frenck/php-compatibility` is found as the only package with `phpcodesniffer-standard`, but since root of my app is added

[2017-05-31 17:06] frenck commented on #32
The root package support is for "main" repositories that contain coding standards themself instead of a separate package. (Wordpress is having a specific use case as well, see WordPress-Coding-Standards/WordPress-Coding-Standards#855).

I do see an issue and I will try to explain why this is a bug... but actually not a bug. (That's me saying: We could improve here, but that not the root cause of t

[2017-06-01 07:00] Potherca commented on #32
Currently `v0.3` is getting as much downloads as `v0.4`, so this could still be an issue for some users.
Although this could cause some inconvenience, I'm not sure we want to spend the energy to resolve that...

As for the "ignore ruleset in package root of non-codesniff packages" bug, I feel that _should_ be resolved.

The most straightforward approach, as far as I can see, is to add an `exclude(

[2017-07-28 18:55] GaryJones opened #33 "Incorrect relative paths for WPCS"
## Problem/Motivation

Possibly related to #32.

With the following in my composer:
[code]
the installed_paths phpcs config value is wrong.

Composer resolves this as using PHPCS 3.0.2, and the relative branches of WPCS and PHPCompatibility, both of which support PHPCS 3.*.

## Expected behaviour

I expect the paths to be correct. With 0.3 of this plugin. I get:

[code]

`phpcs -i` shows all of th

[2017-07-28 19:22] jrfnl commented on #33
What @GaryJones said.

Basically PHPCS expects the `installed_paths` which are registered to point to a _standards_ directory like it has itself. This directory is expected to contain one or more subdirectories which each contain a `ruleset.xml` file and may contain sniffs in a `Sniffs` subdirectory underneath that.

As of PHPCS 3.x, PHPCS is supposed to support root-directory standards, i.e. pass

[2017-07-29 05:37] jrfnl commented on #33
I've pulled a fix for the upstream bug as https://github.com/squizlabs/PHP_CodeSniffer/pull/1581

[2017-07-31 17:49] frenck commented on #33
Hi @GaryJones & @jrfnl,

The issue indeed seems an error / unexpected behavior.
I will look into this today and tomorrow trying to reproduce and fix what needs fixing.

../Frenck

[2017-07-31 17:57] jrfnl commented on #33
@frenck Thanks! Much appreciated.

[2017-07-31 19:37] frenck commented on #33
For v0.3.x we've used this when finding a path that contains a `ruleset.xml` file:
[code]

In v0.4.0 we changed this behavior to support two things.
1. PHPCS 3.0 allows pointing to the directory containing the `ruleset.xml`
2. PHPCS 3.0 has support for having standards in the root of the repository.

The plugin detects if you are using PHPCS 2.x or 3.x and adjusts the behavior.
For 2.x the plugin

[2017-07-31 19:40] frenck commented on #33
@GaryJones This issue is not related to #32.

#32 is actually an issue with the repository that is used. It contains a `ruleset.xml` file instead of an `phpcs.xml` file, which causes troubles and is documented behavior in PHPCS. This ticket is left open as an inspiration for improvements on our side (robustness) and not actually a bug.

[2017-08-01 04:23] jrfnl commented on #33
@frenck Thank you for investigating.

I would expect the plugin to register paths using the cross-version compatible method of a "Standards" and *only* register standards as root-standard directories if:
* No subdirectories are found with `ruleset.xml` files and `Sniffs` subdirectories
* And PHPCS 3.x is detected.

There are two reasons for this:
* In the past - and not even that long ago -, it wa

[2017-08-01 10:35] frenck commented on #33
@jrfnl I have created a working solution on my laptop at this moment. I've tested it extensively, including the case mentioned by @GaryJones.

I will do some documentation and some more (paranoia) testing and get back to you guys as soon as possible.

[2017-08-01 10:47] jrfnl commented on #33
@frenck Thank you! You're awesome!

[2017-08-01 12:17] frenck commented on #33
PR #34 should fix this issue, will do a minor release right after the merge.

[2017-08-01 12:43] #33 closed

[2017-08-01 12:48] frenck commented on #33
@jrfnl @GaryJones

PR passed review and got merged.
Created a minor release v0.4.1.

Thanks guys for reporting, this is really appreciated.

[2017-08-01 13:14] GaryJones commented on #33
I'll give it a try, thanks!

[2017-08-01 13:19] frenck commented on #33
Thx @GaryJones 👍

One of the last tests I've done it the one you've put into this issue.

Result:

[code]

I was able to run every registered coding standard, including the one that gave you errors: `Wordpress`.

If you encounter any issues, please let me know. We will try to look into it asap.

[2017-08-01 13:32] GaryJones commented on #33
@frenck `0.4.1` seems to work well. Having added another code standard (ObjectCalisethenics), I now correctly get `CodeSniffer.conf` as:

[code]

Thank you :-)

[2017-08-01 14:30] jrfnl commented on #33
@frenck Thanks for this! I'll make sure the info in both WPCS and PHPCompatibility is adjusted where necessary before release.

[2017-08-16 01:45] jrfnl commented on #33
FYI: a fix for the upstream part of this issue has been merged into PHPCS just now, so should be included in the PHPCS 3.1.0 release. That doesn't negate the value of the fix which was merged here, but just thought I'd let you know anyway.

[2017-08-16 08:34] frenck commented on #33
@jrfnl Thanks for letting me know 👍

[2017-10-28 09:17] dingo-d commented on #32
Any news about solving this? I think that it's also happening to me. I added in my project's `composer.json`
[code]

Which results in

[code]
Infinum's coding standards composer can be seen [here](https://github.com/infinum/coding-standards-wp/blob/master/composer.json).

Now when I run `./vendor/bin/phpcs -i` in the terminal I get

[code]
which is not right. I should get the default standards fro

[2017-12-05 05:08] ntwb opened #43 "PHP 7.2 compatibility issue"
## Problem/Motivation

When using PHP 7.2 on Travis CI I get the error:`[InvalidArgumentException]  Package dealerdirect/phpcodesniffer-composer-installer at version ^4.3 has a PHP requirement incompatible with your PHP version (7.2.0.0)`

## Expected behaviour

No error

## Actual behaviour

The error above is displayed

## Steps to reproduce

Add `composer global require "dealerdirect/phpcodesni

[2017-12-05 05:14] ntwb commented on #43
The error for the PHP 7.2 job is here: https://travis-ci.org/Dealerdirect/phpcodesniffer-composer-installer/jobs/311684719#L486

[2017-12-05 05:20] ntwb commented on #43
Ha, I was using version `^4.3` instead of `^0.4.3` 🤦‍♂️

[2017-12-05 05:20] #43 closed

[2018-01-15 10:18] alexdesignworks opened #45 "Scan depth as parameter"
## Problem/Motivation
This is feature request.

Current scan depth is set to less then 4. This may not work for cases when `ruleset.xml` is provided in the package that contains multiple rulesets - such package would use additional parent directory to hold multiple rulesets.

Exposing scan depth to be extracted from `extra` section would allow more granular  per-project config.

[2018-02-01 08:34] Potherca commented on #45
Thank you for taking the time to report this, my apologies for the slow response (we try to respond within a week).

I have opened a pull-request implemented this, if @frenck agrees with the implementation, I am not opposed to adding this feature.

[2018-02-12 15:48] Potherca commented on #45
@frenck Ping?

[2018-03-19 18:08] kenorb opened #47 "Security ruleset not found"
## Problem/Motivation

The plugin doesn't see new _Security_ Sniff standards of [`pheromone/phpcs-security-audit`](https://packagist.org/packages/pheromone/phpcs-security-audit#1.x-dev) package.

## Expected behaviour

It should find the coding standards as advertised.

## Actual behaviour

## Steps to reproduce

I've got the following package in my `composer.json`:

    "pheromone/phpcs-security-

[2018-03-19 18:30] frenck commented on #47
@kenorb Thank you for submitting an issue to us.

I've looked at the standards package you are referring to and concluded it is not an issue with this plugin. This plugin requires the proper setup of a package, which the referred packages does not comply with.

Please see the requirements for packages to work with this addon documented here:
<https://github.com/Dealerdirect/phpcodesniffer-composer

[2018-03-19 18:30] #47 closed

[2018-03-23 12:41] kenorb opened #48 "phpcs: Exit Code: 127 (Command not found) on every Composer command"
## Problem/Motivation

After installed `"dealerdirect/phpcodesniffer-composer-installer": "^0.4.3"`, my Composer getting error about `phpcs` command not being found.

This happens, when I am working with multiple bin-dir folders. Normally I've got `COMPOSER_BIN_DIR` pointed to `/usr/local/bin`, but in some shell instances, I don't have. After installing this package, now every `composer` is produc

[2018-03-24 16:55] Potherca commented on #48
Hi! Thank you for taking the time to report this.

This behaviour seems to be caused by the fact that the plugin functionality is called when it should not be. In other words, the plugin is triggered for an event it is not registered for.

The root cause is that the (public) `activate` function calls the (private) `init` function which, in turn, triggered calling PHPCS (in the `loadInstalledPaths`

[2018-06-01 08:50] dalibor-matura opened #49 "The composer plugin implementation seems to be breaking the composer lifecycle"
## Problem

The `dealerdirect/phpcodesniffer-composer-installer` version `0.4.4` (currently latest version) is probably  breaking composer lifecycle.

Here is a link to composer issue: https://github.com/composer/composer/issues/7298#issuecomment-393796348 where the Jordi Boggiano (the author of composer) and I have come to a conclusion that there may be a bug in this package.

Please, read the is

[2018-06-01 14:17] jonathanjfshaw opened #50 "PHPCS invocation fails on Windows 10 if installed globally"
## Problem/Motivation
Running composer update in a project fails on Windows 10 when this plugin is installed globally.

## Error

[code]

[2018-06-05 01:13] dalibor-matura commented on #49
This is still causing me problems on a couple of projects I'm working on.

Please, check out how it can be fixed or discuss a possible solution with composer maintainer (Jordi Boggiano).

Thanks a lot,
Dalibor

[2018-07-10 14:00] stof commented on #49
the culprit is https://github.com/Dealerdirect/phpcodesniffer-composer-installer/blob/2e41850d5f7797cbb1af7b030d245b3b24e63a08/src/Plugin.php#L121 which is running phpcs when initializing the plugin, and so expects the vendor folder to be in a working state at that time, including the dumped autoloader (which is not guaranteed at all by composer, almost the opposite)

[2018-07-26 14:48] BonBonSlick opened #53 "Installation error"
## Problem/Motivation

## Expected behaviour

## Actual behaviour

## Steps to reproduce

## Proposed changes

[code]

[2018-09-07 12:43] jrfnl commented on #49
Looks like PR #51 addresses this issue.

[2018-09-07 13:13] jrfnl commented on #9
Just wondering: Should these tests be run in combination with various PHPCS versions ?

[2018-09-07 13:15] jrfnl commented on #48
Looks like PR #51 addresses this issue.

[2018-09-07 15:03] kenorb commented on #49
Related GH-48

[2018-09-08 16:30] BonBonSlick commented on #53
@jrfnl  i do not know, removed sniffer

[2018-09-14 12:16] mickaelperrin opened #59 "Broke composer commands when used with wp-cli/package-command"
## Problem/Motivation

When used with `wp-cli/package-command`, composer fails to execute post-install commands.

note that this issue has been cross-posted to https://github.com/wp-cli/package-command/issues/99

## Steps to reproduce

1. Create a minimal composer.json file:
[code]

2. Run `composer install`
## Expected behaviour

Displays OK

## Actual behaviour

Throws the following error

[code

[2018-10-11 05:55] dalibor-matura opened #60 "Getting a new stable release"
## Problem/Motivation

There wasn't a stable release for almost a year and we would really like to use the fix from commit https://github.com/mickaelperrin/phpcodesniffer-composer-installer/commit/698b12467f15a6d4bbacddbce14d43b69d795df6, but composer requirements/restrictions are not going to allow us to use `master-dev` verson of this package.

The commit (`master` branch) holds a fix https://gi

[2018-10-11 05:56] dalibor-matura commented on #49
It would be good to get a new stable release of this package for those who needs to update the package with composer and latest master-dev is not allowed by others dependent packages.

I've created a new issue with a request of new stable release #60

[2018-10-15 15:19] Potherca commented on #60
If @frenck agrees, I would like to add #51, #54, #60 and #62 and tag a new release `v0.5.0`.

[2018-10-16 16:12] TravisCarden commented on #59
I get the same error just requiring `composer/composer` (v1.7.2). Since `wp-cli/package-command` requires that, too, it seems like the likely problem.

[2018-10-23 19:14] echernyavskiy opened #63 "Support PHP CodeSniffer standards in packages installed outside of the vendor directory"
## Problem/Motivation

## Expected behaviour

## Actual behaviour

## Steps to reproduce

## Proposed changes

[2018-10-25 11:07] #49 closed

[2018-10-25 11:08] frenck commented on #49
Merged in #51, I'll consider a release within the next couple of days (some cleanup on this repo in progress).

[2018-10-25 11:09] frenck commented on #60
This issue is mainly a request and not an issue. A new release will follow soon, closing this issue, because it isn't an issue.

[2018-10-25 11:09] #60 closed

[2018-10-25 11:20] frenck commented on #50
Not sure why this is handled differently on Window.
I personally do not have access to Windows machines, so this needs to be solved/triaged by external contributors.

[2018-10-25 14:44] frenck commented on #63
Having Coding Standards in your main project is already supported. The only limitation is the maximum search depth, which is going to be configurable when #46 gets merged in.

Am I missing something?

[2018-10-25 14:56] frenck commented on #59
These are triggered by the `post-install-cmd` and `post-update-cmd`, without those, it just works fine.
Looking for a reason though.

[2018-10-25 14:58] echernyavskiy commented on #63
I'll try to be a bit more specific here. So given the following pretty typical Drupal project structure:

    ...
    vendor
    ...
    web
      - modules
        - contributed
          - coder
            - coder_sniffer
              - Drupal
                - ruleset.xml
    ...
    composer.json
    composer.lock

PHPCodeSniffer composer installer rightfully [discovers](https://github.com/D

[2018-10-25 14:59] frenck commented on #32
This issue is actually not an issue. All cases are not a match for the plugin to work with.
Since there is nothing to do, I'll go ahead and close this one.

[2018-10-25 18:16] #45 closed

[2018-10-25 18:17] frenck commented on #45
This feature has been added @alexdesignworks, thanks to @Potherca!

Will be part of the next release.

[2018-10-26 07:29] frenck commented on #63
I get it, nevertheless, I'm unable to reproduce.

I have set up a full Drupal project to test this out and this is what happens on my machine (note I've added a `var_dump` of the found `$installedPaths` array to the output for debugging.

[code]

Used `composer.json` for this test: <https://gist.github.com/frenck/a03bd5695636d1105aea1895aea774e0>

Please note, I've used the latest dev version of t

[2018-10-26 07:50] frenck commented on #59
Not yet sure why, but this example works:

[code]

[code]

So this problem is isolated to when Composer invokes itself? Investigating a little more.

[2018-10-26 07:57] frenck commented on #59
When running the full command from within the `post-install-*`, a different `composer` is used: The one shipped/installed in the vendor.

So this would actually trigger the same error:

[code]

[2018-10-26 10:08] frenck commented on #63
OK, so the `ProcessBuilder` no longer exists in the `Symfony/Process` package `>=4.0`, which is causing this issue. Looking into rewriting the Plugin the use the `Composer\Util\ProcessExecutor`.

[2018-10-26 10:12] frenck commented on #59
OK, so the `ProcessBuilder` no longer exists in the `Symfony/Process` package `>=4.0`, which is causing this issue. Looking into rewriting the Plugin the use the `Composer\Util\ProcessExecutor`.

[2018-10-26 11:33] #59 closed

[2018-10-26 11:34] frenck commented on #59
This has been fixed in the current `master` branch and will be part of the next release.

[2018-10-26 12:06] frenck commented on #63
@echernyavskiy I've ended up implementing your solution (slightly different / more incorporated with the plugin, since `Filesystem` is now used more widely by the Plugin).

Since I lack a reproduction scenario, I cannot ensure this fixes your problem.

[2018-10-26 13:50] frenck commented on #63
@echernyavskiy It is in the `v0.5.0` release. So if you could test it and let me know? That would be awesome 👍

[2018-10-26 15:41] echernyavskiy commented on #63
@frenck, yup, tested and it works in my setup as well, thanks.

[2018-10-27 07:11] frenck commented on #63
Nice @echernyavskiy! Thanks for letting me know!

I'll go ahead and close up this issue.

[2018-10-27 07:11] #63 closed

[2018-11-11 14:37] vladyslavstartsev opened #78 "Class not found"
## Problem/Motivation

Class `Symfony\Component\Process\ProcessBuilder` not found

## Expected behaviour

normal composer call in the project dir, to show all commands

## Actual behaviour

I randomly get errors, on `composer` call in my project dir that look like this
![image](https://user-images.githubusercontent.com/17382248/48314128-a7bc6c00-e5cd-11e8-8b4d-ea27b208b96f.png)

## Steps to reprod

[2018-11-11 19:54] frenck commented on #78
Are you running `0.5.0`?
Since that version should have resolved that.

[2018-11-12 01:09] vladyslavstartsev commented on #78
@frenck whoops! I do use 0.4.4, my fault, sorry.
This package is "soft" dependency for my. I depend on https://github.com/doctrine/coding-standard/ which uses 0.4 version right now, hope to see their 6.0 version to get to 0.5 version of this plugin.
thanks!

[2018-11-12 01:09] #78 closed

[2019-01-21 15:00] jrfnl opened #79 "Composer PHP version appears not to be respected"
## Problem/Motivation

Ok, so this is a fairly complicated one to explain, so please bear with me.

First off, I'm not sure if this is a Windows specific problem or a wider problem, but I have been able to consistently reproduce the issue on Windows.

[code]

By default, if you call a script in the `vendor/bin` directory, the system default PHP version will be used.
**Important**: This may not be

[2019-01-21 17:36] jrfnl commented on #79
I've done some digging leading to PR #80 which would solve this, but may not be the best way to go about things. At the very least it should give some idea of solution directions.

[2019-01-23 10:42] jonathanjfshaw commented on #50
Sorry, no, I don't have a suitable working composer setup

[2019-05-06 00:23] nterbogt opened #81 "Crash on installed path setup"
## Problem/Motivation

`phpcs` is crashing due to invalid path setup.

## Expected behaviour

I expect the correct path to be used.

## Actual behaviour

[code]

## Steps to reproduce

I _think_ you set a large search path in here that includes the base standards directory from phpcs.
`"phpcodesniffer-search-depth": 6`

## Proposed changes

I believe it should exclude that directory because they a

[2019-05-07 17:07] Potherca commented on #81
Hi! Before we investigate this further, could you post (a link to) the `composer.json` file that is used?

I would like to discern whether the issue lies with the installer, `php_cs` or elsewhere.

Myconcern is the path `../../../web/modules/contrib/coder/coder_sniffer,CodeSniffer/Standards`.

Does this mean there is actually a directory called `coder_sniffer,CodeSniffer`?

[2019-05-07 17:16] Potherca commented on #79
Thank you for reporting this and taking the time and effort to provide a thorough reproduction scenario!

I'll try to reproduce things as soon as I have access to a windows environment, that would also give me opportunity to verify #80.

[2019-05-07 17:31] Potherca commented on #50
I'll have a look at this soonish, together with #79 and #80.

[2019-05-07 17:32] Potherca commented on #9
I've got time to look into this in the coming weeks. Will report progress when I make it. 👍

[2019-05-13 11:36] exussum12 commented on #79
To confirm this is all envs. Have the exact same issue on linux and mac.

[2019-06-18 19:09] TravisCarden opened #82 "Allow a string value for extra.phpcodesniffer-search-depth"
It's impossible to set the `extra.phpcodesniffer-search-depth` config value from the command line because it strictly enforces an integer type on it, whereas `composer config` cannot set integer values (see https://github.com/composer/composer/issues/8195):

[code]
I currently use the following fairly ugly kludge as a workaround:

[code]

For its part, I've requested that Composer provide the abil

[2019-07-31 00:21] sherakama opened #83 "InvalidArgumentException: $from and $to must be absolute paths"
## Problem/Motivation

## Expected behaviour

## Actual behaviour

[code]

## Steps to reproduce

I will work on this as I gather more information. See output above.

- Install PHPCS globally on OSX
- Install PHPCS and drupal/coder in local project
- Run `composer install`

## Proposed changes

[2019-07-31 20:49] sherakama commented on #83
It appears that having installed `dealerdirect/phpcodesniffer-composer-installer` in my user's home directory `~/.composer/vendor/...etc` and having a copy in my local project `/httpdocs/website/vendor/...etc` caused a mismatch in paths. Removing the one in my user's home directory has resolved the issue but I am going to need it there so I will continue to debug.

[2019-08-13 18:05] jrfnl commented on #79
I just ran into this issue again myself. Would be awesome if the PR could get some attention as it really is pretty annoying/confusing when this happens.

[2019-08-13 18:12] exussum12 commented on #79
Huge +1 from me too. When it fails there is hardly any indication of the error.

[2019-09-06 17:03] SturmB opened #84 "phpcs not recognizing `installed_paths`"
## Problem/Motivation

 phpcs is not seeing the WordPress standards.

## Expected behaviour

 I expect to see `WordPress` as one of the installed coding standards when I run `phpcs -i`.

## Actual behaviour

 WordPress does not show up in the list of installed coding standards.

## Steps to reproduce

 1. Create a new WordPress site with Local by Flywheel.
 2. Install `phpcs` globally with `compos

[2019-09-06 17:44] Potherca commented on #82
Hi! Thank you for reporting this issue!

We would definitely welcome such a contribution but (as you may have noticed from my late response) we don't have much time/energy to spend on this project currently.

So, if you do decide to open an MR, don't feel discouraged if our response is slow!

[2019-09-09 14:23] TravisCarden commented on #82
Thanks, @Potherca! https://github.com/Dealerdirect/phpcodesniffer-composer-installer/pull/85 should do the trick. :)

[2019-09-11 19:40] Potherca commented on #84
Hi, thank you for reporting this bug!

I'm currently in the process of get the currently open merge-requests into a new (minor) release.
Once that is done, I'll come back to this issue.

It could be related to other relative/absolute path issues already reported. I also need to check what the deal was with global/local installs of this plugin and sniffs.

Will let you know when I am available to m

[2019-09-22 09:50] Potherca commented on #82
The MR has been merged, will be part of the upcoming `0.5.1` release.

[2019-09-22 09:50] #82 closed

[2019-09-26 08:25] johndodev commented on #84
+1, with another standard, not detected by phpcs event if it says `installed_paths set to...`

[2019-09-26 08:41] johndodev commented on #84
Oops, it is working, it was a problem of chmod, when I trying to do it manually by doing :
`./vendor/bin/phpcs --config-set installed_paths /mypath/vendor/phpcompatib                                 ility/php-compatibility/
`
I get
[code]
The real problem is that this library do not say when the process has failed, I mean, that error is not reported by the installer, so we thought it should work a

[2019-09-26 14:27] SturmB commented on #84
Thanks for the input, @johndodev, but it seems my issue is different.

[code]

I wonder if the problem is that I have phpcs installed **globally**, but I have the WordPress standard installed **locally**. Must I have them **both** installed in either one context or the other?

[2019-09-26 14:36] johndodev commented on #84
Ok, I don't know, both are installed locally for me. It seems more an issue of how phpcs handle the config "installed_paths" than an issue in that lib. Maybe try with an absolute path.

[code]

[2019-09-27 18:06] Potherca commented on #84
Yeah. We have another issue that centers around incorrect (or lacking) error reporting. Also, the plugin does not "error out" properly when it encounters problems. It is part of what we are currently looking into with #80

There is definitely some quirky/unintuitive behaviour there. This is another thing I want to get more to grips with before releasing potential fixes (as to avoid fixing one scen

[2019-09-27 18:36] SturmB commented on #84
Thanks, @Potherca. It should be noted that I was simply following the instructions in the main [phpcs readme](https://github.com/squizlabs/PHP_CodeSniffer). I ran `composer global require "squizlabs/php_codesniffer=*"`, as shown in that readme, before installing this package.

[2019-10-09 11:40] Potherca opened #87 "Add @jrfnl as (co)maintainer to this project"
Currently, besides myself, only @frenck and @mjrider are active (co)maintainers of this project.
As all three of us have other responsibilities (both towards other code-projects as in our private lives), we are often not able to respond to issues in this project in a timely fashion.

In order to make sure this project remains relevant _and_ active, I suggest we need to add a (co)maintainer who is

[2019-10-09 12:13] mjrider commented on #87
Done

[2019-10-09 12:13] #87 closed

[2019-10-09 12:57] jrfnl commented on #87
Not sure whether I'll be "_more available_" as I also have plenty of other commitments, but between the four of us, we'll hopefully be able to move some issues forward.

[2019-12-09 04:06] jrfnl commented on #79
FYI: I've added another commit/branch to the POC repo `test-the-fix` to allow to easily test the fix as pulled in PR #80.

[2019-12-16 20:17] #79 closed

[2019-12-17 02:12] jrfnl opened #92 "Iterate further on the integration tests via Travis"
From #91:

[2019-12-17 04:17] jrfnl commented on #84
FYI: PR #80 has been merged which should improve the error reporting and PR #93 has just been opened as a further iteration on that, so hopefully it will now become easier to know when something is going wrong and what.

[2020-01-17 17:57] Potherca commented on #84
FYI: #93 Has been merged. 👍

[2020-01-18 18:21] Potherca commented on #81
Closing this as "can't reproduce" for now. If this issue re-appears or more information is provided by @nterbogt that leads to a reproducable scenario, this issue can be re-opened.

[2020-01-18 18:21] #81 closed

[2020-01-19 00:48] jrfnl commented on #84
@SturmB Could you do a `phpcs --config-show` and paste the output here ?

[2020-01-19 14:12] Potherca commented on #92
A couple of years ago I create [some code for phpcodesniffer-composer-installer issue-24](https://github.com/potherca-abandoned/phpcodesniffer-composer-installer_issue-24) that might be usable for some of this.

[2020-01-19 15:51] Potherca commented on #84
Version [v0.6.0](https://github.com/Dealerdirect/phpcodesniffer-composer-installer/releases/tag/v0.6.0) has just been released. Besides several fixes, this version also adds improved debug/verbose output.

@SturmB Could you try to reproduce the issue you reported with `v0.6.0` and let us know if it still happens? If so, please run the plugin in verbose mode and paste the output of the run here (th

[2020-01-19 15:51] Potherca commented on #83
Version [v0.6.0](https://github.com/Dealerdirect/phpcodesniffer-composer-installer/releases/tag/v0.6.0) has just been released. Besides several fixes, this version also adds improved debug/verbose output.

@sherakama  Could you try to reproduce the issue you reported with `v0.6.0` and let us know if it still happens? If so, please run the plugin in verbose mode and paste the output of the run here

[2020-01-19 15:51] Potherca commented on #50
Version [v0.6.0](https://github.com/Dealerdirect/phpcodesniffer-composer-installer/releases/tag/v0.6.0) has just been released. Besides several fixes, this version also adds improved debug/verbose output.

@jonathanjfshaw  Could you try to reproduce the issue you reported with `v0.6.0` and let us know if it still happens? If so, please run the plugin in verbose mode and paste the output of the run

[2020-01-19 15:52] Potherca commented on #92
Not sure how/where to best run build steps in Windows. Maybe @mjrider has some ideas?

[2020-01-19 15:54] jrfnl commented on #92
@Potherca I know you can set the OS for specific builds in both Travis as well as actions, so either could work.

[2020-01-20 20:09] SturmB commented on #84
I will do so as soon as I get some time in the next week. It'll be iffy because my dev setup has changed since then. (I'm now using WSL rather than ConEmu, etc.)

[2020-01-25 12:19] tobiasbaehr opened #103 "Do not exit with code 1 on uninstall (--no-dev)"
## Problem/Motivation

When dealerdirect/phpcodesniffer-composer-installer + package which has phpcs rules are uninstalled while `composer install --no-dev` the dealerdirect/phpcodesniffer-composer-installer exit with the exitcode 1, which breaks a CI.

## Expected behaviour

Do nothing in this case.

## Actual behaviour

[code]

## Steps to reproduce

Run `composer install --no-interaction --opti

[2020-01-25 17:43] jrfnl commented on #103
@tobiasbaehr Thanks for the detailed report. I'm at a conference right now, but either @Potherca or me will look at this soon.

The main thing which surprises me is that Composer would try to run a plugin which it has just uninstalled.
In that respect, I wonder if this is not a Composer bug instead of a bug in the plugin.

The other thing which surprised me when you originally reported it, is that

[2020-01-25 21:24] Potherca commented on #103
I've created [automated reproduction scenarios for this bug](https://gist.github.com/Potherca/49bdf3fb36d2c03c643c28084d74e4a7) (in BASH).

Tomorrow I'll work on a fix.

[2020-01-26 11:10] Potherca commented on #103
I've implemented a fix in MR #104. As soon as it has been reviewed and approved I can deploy a new release to get this fix out the door so @tobiasbaehr can verify it resolves things on his end.

[2020-01-27 09:46] tobiasbaehr commented on #103
I can confirm that #104 works for me.

[code]

[2020-01-27 09:46] #103 closed

[2020-01-27 15:53] jrfnl commented on #103
Thanks for testing @tobiasbaehr !

[2020-01-27 21:33] Potherca commented on #103
@tobiasbaehr  The fix for this issue has been release as part of [`v0.6.1`](https://github.com/Dealerdirect/phpcodesniffer-composer-installer/releases/tag/v0.6.1).
Feel free to update your project(s) as needed.

And thanks again for reporting the issue and testing the fix!

[2020-02-04 13:47] SturmB commented on #84
Finally was able to replicate my original setup for this. (Had to disable Hyper-V for a bit.)

The result of following the steps in my original post:

[code]

As soon as I get a chance, I'll try this same thing with my current WSL setup.

[2020-02-04 15:47] jrfnl commented on #84
@SturmB Looking at the output, I think your own hunch was correct. To me this sounds like you're using two distinct installs of PHPCS. One of which has WPCS installed, the other doesn't.

Could you try running the below commands for me from the `~/Sites/phpcs/app/public` directory to confirm if that is the issue ?

* `which phpcs`
    I expect that will point to your Composer global PHPCS version.

[2020-02-04 20:19] SturmB commented on #84
Yep, that was it, @jrfnl:

[code]

As before, this is with my old setup. Just to confirm while I'm here in a Windows session with Hyper-V disabled (so I can use Local by Flywheel), I'll run through the rest of your steps:

[code]

So it seems that your assessment is, indeed, correct. I still have a great deal to learn about Composer, it seems. As well as to make this happen in WSL, which shouldn't

[2020-02-04 20:19] #84 closed

[2020-02-04 20:28] jrfnl commented on #84
@SturmB No problem. I'm just glad we've figured out together. Sorry it took so long.

[2020-03-31 23:57] danepowell opened #108 "Composer 2.x compatibility"
The release of Composer 2.0 is imminent, and it requires updates for composer plugins such as this package. Until this package is explicitly made compatible with Composer 2, it cannot be installed with Composer 2 (even as a dependency of another package).

This package needs to be updated not only to ensure compatibility with Composer 2, but to unblock downstream projects that rely on it and want

[2020-04-01 00:15] jrfnl commented on #108
@danepowell While I agree it would be good to support Composer 2.0 once it comes out, I can't find any useful information to confirm what you are saying, let alone inform Composer plugin developers on what is needed to support Composer 2.

* There is no Composer 2 pre-release yet (alpha/beta/RC);
* There is no changelog which I would expect with such a release to give a clue about what breaking ch

[2020-04-01 15:23] Seldaek commented on #108
I posted the info at https://github.com/composer/composer/issues/8726 now - there still isn't a lot of what you mentioned, but it's a start :)

[2020-04-01 15:43] jrfnl commented on #108
Thanks @Seldaek for chipping in and posting that information. I'll try and have a look at it in more detail soon.

Unfortunately this project doesn't have really have any integration tests at this moment, so testing this will not be easy for us as there are a lot of scenarios to consider.

[2020-04-01 15:57] Seldaek commented on #108
Had a quick look through the source and tbh I don't think you'll have to change anything beyond the composer.json requirement. I might have missed something obviously but it doesn't seem to touch anything we broke.

[2020-04-01 16:02] jrfnl commented on #108
@Seldaek You're a star! Thank you so much for that.

I presume we should add (empty) `deactivate()` and `uninstall()` methods though ? Not that anything should happen in that case for this plugin. Removing a set `installed_paths` may break more than it fixes.

I've just pushed up a WIP branch which can be used for testing: https://github.com/Dealerdirect/phpcodesniffer-composer-installer/tree/WIP/

[2020-04-01 16:10] Seldaek commented on #108
Yup that looks good as a first step. I'd say if some basic testing doesn't surface any issues it's probably fine..

[2020-04-20 16:47] danepowell commented on #108
Thanks, I've tested your WIP branch (using a local path repo) and confirmed that it works great with Composer 2. Let me know if you need anything else to get this into a new release.

[2020-04-20 22:54] jrfnl commented on #108
@danepowell Thanks so much for testing this!

I kind of want to have a better read through the upgrade guide @Seldaek has posted since before opening a PR, but I hope to get to that some time this week.

[2020-04-25 12:18] Potherca opened #110 "Add link to Packagist on main page"
The repository does not have an URL added. As I no longer have admin rights I can not do this myself.

@mjrider Could you add a link to https://packagist.org/packages/dealerdirect/phpcodesniffer-composer-installer

![image](https://user-images.githubusercontent.com/195757/80279694-838c1680-86ff-11ea-965f-672d25c0b164.png)

[2020-05-04 17:23] danepowell commented on #108
Hey @jrfnl I don't want to rush you, but any chance you could provide a new timeline for this? Composer 2 is [expected to be released in the next few weeks](https://github.com/composer/composer/issues/8726#issuecomment-618854271), and [downstream projects that depend on phpcodesniffer-composer-installer](https://github.com/acquia/blt/pull/4088) can't start their own upgrade testing until phpcodesn

[2020-05-05 23:00] jrfnl commented on #47
FYI: for anyone who comes across this issue - in the mean time, this has been fixed in the Security standard package. The fix was included in version `2.0.1` of the package (August 2019).

[2020-05-05 23:52] jrfnl commented on #50
@jonathanjfshaw Any feedback ? I would love to know if this is still an issue or if this can be closed.

[2020-05-05 23:54] jrfnl commented on #83
@sherakama Any feedback ? I would love to know if this is still an issue or if this can be closed.

[2020-05-06 01:41] jrfnl commented on #108
@danepowell I'd be happy to promote the WIP branch to a PR, but would still _really_ like to see some more people testing it and confirming all is ok for lack of integration tests.

Two people testing for just their scenario for a plugin with millions of installs seems a bit meager....

[2020-05-06 05:38] Seldaek commented on #108
@jrfnl a PR would increase visibility and likeliness that people test too IMO, plus it makes it easier to give feedback.

[2020-05-06 07:17] jonathanjfshaw commented on #50
Sorry, I'm no longer using composer on Windows 10 so can't retest.

[2020-05-06 10:11] Potherca commented on #50
As luck would have it, I now have access to a Windows 10 machine (we've had to buy a family computer to keep up with all the video meetings the children have for school).

My current timetable would allow me to take a look at this the coming weekend. I'll post my findings as soon as I've run throught things. 👍

[2020-05-06 15:44] jrfnl commented on #92
Especially with an eye on preventing regression, while still broadening support to newer versions, like PHPCS 4.x, PHP 8.x and Composer 2.x, I've made an inventory of test cases which would need to be included by going through _every single_ issue and PR in this repo from the very beginning to the time of writing.

My focus has been on integration tests and I have made "shorthand" notes.
I don't h

[2020-05-06 19:40] jrfnl commented on #108
@Seldaek I just ran some tests myself before opening the PR and am running into problems. Will open an issue upstream.

[2020-05-06 20:14] jrfnl commented on #108
@Seldaek Grr... one of those... I can't seem to create a scenario to consistently reproduce the issue. Might have been a fluke. Would you still like me to report the issue with the stack trace or leave it ?

This was the error I got:
[code]

[2020-05-06 21:04] Seldaek commented on #108
Unfortunately for this kind of errors if you don't have a sure way to
reproduce it this info is kinda useless :/ it would be great to get a
report with repro case though if you figure it out.
.

[2020-05-06 21:10] jrfnl opened #112 "Switch from Travis CI .org to .com"
## Problem/Motivation

It looks like Travis is slowly closing down their old interface. I have seen a number of repos running into issues with Travis not reporting back on branches/pull requests anymore.

This does not (yet) seem to be the case for this repo, but I think pre-empting this would be a good thing™.

I don't have the authorization to make the necessary changes myself, so I'd like to as

[2020-05-06 21:18] jrfnl commented on #108
@Seldaek I figured as much and haven't found a consistently reproducible scenario. If I do, I'll be sure to report it.

[2020-05-07 09:29] Potherca opened #113 "Maintaining this project and Admin rights"
At the moment of this writing, this project is activelu maintained by @jrfnl, @mjrider and myself.

However, only @mjrider has admin access. In order to make sure we have a smaller [bus factor](https://en.wikipedia.org/wiki/Bus_factor) we need a higher admin redundancy.

From what I can see, to keep things running smoothly, admin acces is needed to:

- [x] Github
- [x] Packagist
- [x] Travis

Ther

[2020-05-07 12:53] jrfnl commented on #113
I concur that two admins are better than one. Issues #110 and #112 both have been opened because committers are running into this.

In my experience, once someone has admin rights on GH for a project, this trickles through automatically to Travis and I think, even to Packagist, though I'm not 100% sure about that one.

If it would help, the OS organisation [PHPCSStandards](https://github.com/PHPCS

[2020-05-11 12:15] mjrider commented on #112
Working on this right now

[2020-05-11 12:21] #112 closed

[2020-05-11 12:21] mjrider commented on #112
done

[2020-05-11 14:49] jrfnl commented on #112
Thanks @mjrider !

[2020-05-11 18:53] #110 closed

[2020-06-25 10:57] mxr576 commented on #108
Any update on this?

[2020-06-25 11:09] jrfnl commented on #108
@mxr576 There is a PR open for this: https://github.com/Dealerdirect/phpcodesniffer-composer-installer/pull/111 It would be great if you could test it and leave your feedback in the PR thread.

[2020-06-25 14:57] #108 closed

[2020-06-25 15:55] Potherca opened #114 "Document current "Create a release" process"
In order to guarantee consistencies with releases from this codebase, the process used to create a new release needs to be documented.

Roughly, it goes like this:

1.Make sure all closed tickets and MRs have a label.
2. Move any open tickets to the next milestone (create a new one if needed)
3. Run [github-changelog-generator](https://github.com/github-changelog-generator/github-changelog-generat

[2020-06-25 16:07] jrfnl commented on #114
Might be helpful for the changelog generation tooling (settings, script) to be added to this repo.

I imagine it may also be useful for the above steps to be included in the `CONTRIBUTING.md` doc ?

[2020-06-25 18:07] Potherca commented on #114
Agreed, on both points.

[2020-06-27 08:13] mjrider commented on #113
i forgot to comment it here, but i made @Potherca admin also when this ticket was opened. if he can verify that it also works for travis.

For moving the project, with keeping backwards compatibility and all that i think that would be a good thing to do

[2020-06-27 09:48] Potherca commented on #113
I've have access to all three linked resources. I've added @jrfnl to Packagist and also made them admin in GitHub.

@jrfnl  can you verify you can access Travis at https://travis-ci.com/github/Dealerdirect/phpcodesniffer-composer-installer/settings?

If so, we can close this ticket, I'll make a new/separate one for discussion if/when/where to move the repo before we go stable. (As I get the feelin

[2020-06-27 21:40] jrfnl commented on #113
@Potherca Looks like I'm all set. I can confirm I can now access GH admin, Packagist admin, Travis settings.

Before going stable, more than anything, I'd like to see a (minimal) test setup in place with a relatively easy way to add more tests. Other than that, I agree that seeing fewer support requests and bug reports coming in over the last six months is a good indication that we're nearing "sta

[2020-06-29 21:02] #113 closed

[2020-07-27 11:56] Potherca commented on #92
That's a really nice overview to have. Very worthwhile!

I've found [the test code I wrote for #103](https://gist.github.com/Potherca/49bdf3fb36d2c03c643c28084d74e4a7) and [the test code for #105 ](https://gist.github.com/Potherca/6d615b893c2f93ce391e4c7a5c6fade9).

We might want to make separate tickets from the shorthand notes so that each topics/sections can be worked on individually.

I think

[2020-07-27 12:22] Potherca commented on #92
By the way, I concur with the suggested setup.

The [testcode originally written for #24](https://github.com/potherca-abandoned/phpcodesniffer-composer-installer_issue-24) has a similar setup.

Specifically
- [Local install](https://github.com/potherca-abandoned/phpcodesniffer-composer-installer_issue-24/blob/HEAD/tests/LocalTest.php) vs. [Global install](https://github.com/potherca-abandoned/phpc

[2020-08-19 09:00] Potherca commented on #50
I've finally gotten round to running this on a Windows machine.

Both powershell and regular shell give me no trouble with a global install present.

Closing this as it can not be reproduced.

[2020-08-19 09:00] #50 closed

[2020-08-19 09:04] Potherca commented on #83
@sherakama / @jrfnl If there is no response to this ticket by August 28, I am closing this ticket before September 1st.

[2020-09-11 14:07] jrfnl commented on #92
Just came across this Composer plugin which may be useful when setting up the integration tests: https://packagist.org/packages/g1a/composer-test-scenarios

[2020-09-15 09:09] Potherca commented on #92
@jrfnl Nice find! I'll have a look at it when my schedule allows. :+1:

[2020-09-15 15:21] ossobuffo commented on #83
I am seeing this behavior using latest git-master when using Composer 2.
[code]

[2020-09-15 15:28] jrfnl commented on #83
@ossobuffo Could you provide us with a scenario with which this can be reproduced consistently ? Please have a look at the [current bug report template](https://github.com/Dealerdirect/phpcodesniffer-composer-installer/issues/new?template=bug_report.md) to see the kind of details we'd need to investigate this.

[2020-09-15 18:16] ossobuffo commented on #83
@jrfnl It turns out that I had configured a non-default location for `library` composer packages to be installed. Once I removed that configuration, it worked fine. Sorry for the noise.

[2020-09-15 18:29] jrfnl commented on #83
@ossobuffo Thanks for getting back to us. Glad it is solved.

As it's after Sept 1st, per @Potherca's previous comment, I'll close the issue now.

If someone else runs into this at a later point, please open a new issue with sufficient information to reproduce the error.

[2020-09-15 18:29] #83 closed

[2020-10-26 14:51] geerlingguy opened #119 "Plugin is [NOT] incompatible with Composer 2"
## Problem/Motivation

When I try using my projects that have this plugin with Composer v2, I get the following errors:

[code]

## Expected behaviour

This plugin should work with Composer 2.

## Actual behaviour

See error message above.

## Steps to reproduce

Upgrade to Composer 2 (`composer self-update --2`).

## Proposed changes

N/A

## Environment

| Question               | Answer
| -----

[2020-10-26 15:30] jrfnl commented on #119
Composer treats minors below `1.0` as majors, so you need to explicitly upgrade your version constraints to allow for version `0.7.x` of this plugin.

Version `0.7.0` was released last June and is fully ready for Composer 2.0, while also still supporting Composer 1.0.

So: `composer require --dev dealerdirect/phpcodesniffer-composer-installer:"^0.7.0"` and your problem should be fixed.

[2020-10-26 15:35] geerlingguy commented on #119
Ah... you're quite correct. I'm trying to sift through a number of new Composer v2-related build issues across many projects I maintain that popped up over the weekend, and I didn't notice that my version of this plugin was actually behind.

I required the latest version and now it seems everything is working with v2 correctly. Thanks for the quick help!

[2020-10-26 15:35] #119 closed

[2020-10-27 22:17] joelpittet commented on #119
I changed the version manually in the global composer.json file, and removed `hirak/prestissimo` to unblock myself here. thanks @geerlingguy for digging in and @jrfnl for the fix!

[2020-11-07 06:24] swiffer opened #120 "Fails to set installed_paths config on Composer 2.0.5"
## Problem/Motivation

After upgrading to Composer 2.0.5 running `composer update` fails, because the plugin fails to set the installed_path config

## Expected behaviour

should run fine

## Actual behaviour

## Steps to reproduce

## Proposed changes

## Environment

| Question               | Answer
| ------------------------| -------
| OS                                | Windows/Linux/Mac (pre

[2020-11-07 10:37] jrfnl commented on #120
@swiffer I've just tested with Composer 2.0.5 and cannot reproduce the issue.

I did notice some other oddities with Composer 2.0.5, but those are unrelated to this plugin.

Please fill in the issue template completely. As things are, your issue is not reproducable and therefore not actionable.
Without further information, this issue will be closed in 24 hours.

[2020-11-07 10:48] jrfnl commented on #120
P.S.: [Composer 2.0.6](https://github.com/composer/composer/releases/tag/2.0.6) was just released. The other oddities I saw when testing appear to be solved now, so you may want to try to run `composer self-update` and then `composer update` again to see if that solved the issue you were having.

[2020-11-07 12:59] swiffer commented on #120
it's fixed by updating to 2.0.6. at least i cannot reproduce this anymore. thanks!

[2020-11-07 12:59] #120 closed

[2020-11-07 13:06] jrfnl commented on #120
@swiffer Glad to hear it and thanks for letting us know.

[2020-11-18 17:54] elb98rm opened #121 "Install of dealerdirect/phpcodesniffer-composer-installer failed"
## Problem/Motivation

Attempting to do a CakePHP upgrade using composer and this plugin is failing

## Expected behaviour

Composer should update normally

## Actual behaviour

Composer runs into errors:

Using either: `"cakephp/cakephp-codesniffer": ` : `"0.7.0"` or `"dev-master"` results in:

[code]
(which then causes):
[code]

## Steps to reproduce

This is a clean install from cakephp, using

[2020-11-19 00:03] jrfnl commented on #121
@elb98rm Thanks for reporting this.

Unfortunately I have not been able to reproduce the issue (on Windows).

Steps I executed using PHP 7.4.12 and Composer 2.0.7:
1. `composer create-project --prefer-dist cakephp/app:~4.0 my_app_name`
2. `cd my-app_name`
3. `vendor/bin/phpcs -i`

All worked and finished without errors, with the output of the last command being `The installed coding standards are

[2020-11-19 19:53] Potherca commented on #121
I've seen similar issues in the past that were related to composer being run from one environment for the initial install but then run from another environment for a sebsequent update. For instance when Docker or other virtual environments were involved.

Read/Write/Delete errors then occur because the access right from one environment do not match that of the other.

@elb98rm Could something like

[2020-11-23 15:54] elb98rm commented on #121
Hi, sorry for the delay! Was away for the weekend.

I've been able to resolve this by executing this in another folder; which suggests that permissions are wrong somehow.

Not sure if it's vagrant weirdness either... the relevant folder (`/var/www/test`) was set to 777.
This executed fine in the home directory however.

However, I find this even weirder.. composer doesn't fail for other modules, a

[2020-11-23 15:54] #121 closed

[2020-11-24 01:17] jrfnl commented on #121
@elb98rm Thanks for getting back to us and posting your solution. Hopefully it will help someone else who may run into this.

[2020-11-24 09:24] Potherca opened #123 "Document QA and development details"
_This issue addresses a point of concern raised in the conversation of #122_

There seems to be a lot of implicit knowledge assumed regarding the GitHub actions we run.

After having documented the current release process, it might also be good to document how to run all of the QA tools in our current pipeline locally, during development.

Any other non-QA tooling should also be documented.

The f

[2020-11-24 13:27] jrfnl commented on #123
My two pennies:

I think we also may want to review which tools are used and for what reason.
* `jsonlint` - AFAICS the only `json` file is `composer.json` - would running `composer validate` be sufficient ? If so, this is done automatically on a `composer install` anyhow. If not: is there a Composer plugin available for the same ? Would it be easier/more intuitive to use that instead ?
* `yamllin

[2020-11-24 13:30] jrfnl commented on #123
Note: if all tooling used would be Composer based, we could even have a `checkall` script in the `composer.json` and just suggest running that.

[2020-11-26 14:38] Potherca commented on #123
I'd rather opt for using docker or `act` to replicate the checks locally instead of looking for PHP alternatives, especially once we start running integration tests.

I prefer having Yaml and JSON checks but I don't think there is much value in developers running them locally.
My current thinking is to leave the Yaml and JSON lint in the github actions but leave them mostly out of the documentatio

[2020-11-26 14:39] Potherca commented on #123
Also @mjrider, you seem awful quiet, considering the topic... :smiling_imp:

[2020-11-26 17:54] jrfnl commented on #123
That does presume contributing devs use Docker (I don't).

Agreed. IMO scripts in the composer file should be able to run after doing `composer install` without any further assumptions about the environment being made. Scripts which need other setup should only be added to Composer `scripts` if that setup can also be run from within the script without breaking on different OSes.

So adding a scrip

[2020-11-26 18:02] jrfnl commented on #123
I don't agree with this reasoning.
1. If we have those checks, devs should be able to run them locally. Nothing more annoying than fixing something, doing the QA checking locally, only to have the build fail on something you can't run locally.
2. If Yaml and Json files were part of the actual package - either `src` or as part of the `tests` - then, yes, I agree they should be checked, however in t

[2020-11-29 14:38] mjrider commented on #123
With respect to the json/yaml lint
composer and travis only care about the content of the file, json and yaml lint care about the syntax of the file.
if i collapse the composer.json to 1 line composer validate will still be happy, but json lint with complain.

so the difference is between content and well-formed of the file and i would advocate for the fact that both are checked

[2020-12-07 16:23] kevinfodness opened #125 "Order of `installed_paths` inconsistent between runs"
## Problem/Motivation

## Expected behaviour

## Actual behaviour

## Steps to reproduce

## Proposed changes

## Environment

| Question               | Answer
| ------------------------| -------
| OS                                | Linux, Ubuntu Bionic, running on Travis CI
| PHP version                       | 7.3.14
| Composer version                  | 2.0.8
| PHP_CodeSniffer version

[2020-12-07 16:37] Potherca commented on #125
Hi! Thank you for bringing this to our attention!

This seems to be one of these edge cases we didn't think about when the plugin was created, but it indeed seems like a valuable improvement to the current logic.

We'll have to verify that the plugin has control over setting the order of the paths.

I can't give you a time-table when this will be picked up, but I am in favor of implementing this!

[2020-12-07 16:59] kevinfodness commented on #125
I created a PR (#126) that should fix this.

[2020-12-07 18:04] #125 closed

[2020-12-07 18:06] Potherca commented on #125
@kevinfodness Thank you very much for your contribution! The changes from #126 have been merged to `master` and will be part of the upcoming `0.7.1` release.

[2020-12-07 18:08] kevinfodness commented on #125
Thanks! Glad to help.

[2020-12-07 20:15] jrfnl commented on #125
Just for context:
When this plugin was created PHPCS did not have the caching feature yet. Result caching for PHPCS was introduced in PHPCS 3.0.0, but even then, the configuration settings weren't taken into account when determining whether the cache was valid. That part was only introduced in PHPCS 3.3.0.

[2020-12-07 20:53] jrfnl commented on #125
@kevinfodness Thanks for bringing this to our attention and for the fix.

While it fixes the immediate issue of the cache invalidation in PHPCS, it doesn't fix the underlying problem.

I've been trying to figure out where the underlying race condition occurs, so we can report it to the Composer project.
The only thing I can currently come up with is that `onDependenciesChangedEvent` would be calle

[2020-12-07 21:05] kevinfodness commented on #125
I'll do what I can. Do you mean running `composer install` with no changes to see if the `installed_paths` message pops again, even though nothing has changed?

I suspect that the issue here may be related to the fact that this is running in a Travis CI container and that we're caching Composer dependencies in Travis via caching the `$HOME/.config/composer/cache` directory, and we're installing ph

[2020-12-07 21:07] jrfnl commented on #125
Yes, exactly.

I'll be sending in a PR in a moment with another tiny change as well which may or may not be related to/fix this issue.

[2020-12-07 21:29] jrfnl commented on #114
While looking at the Changelog for the `1.7.1` release I noticed two bugs:
1. Underscores being escaped - `installed\_paths`.
2. An issue from another milestone having been added to the changelog - #108 was fixed in `1.7.0` not `1.7.1`.

I've manually edited the release now to fix both, but I think it would be good to review the configuration of the changelog generator to prevent these issues in t

[2020-12-07 21:30] kevinfodness commented on #125
Interesting - it does trigger. I'm running my Travis CI job in debug mode to test it out. My `before_script` action runs `composer install` and it reports `Nothing to install or update`. However, when I run `composer install` after this, here is the output:

[code]

Note that we aren't committing a lock file to the repo, but one was created during the initial `composer install`, so it's bizarre th

[2020-12-07 21:35] kevinfodness commented on #125
Actually, my `before_script` _doesn't_ create a lock file. I'm looking into why.

[2020-12-07 21:39] jrfnl commented on #123
Looking at the recent PRs, I honestly think we need to turn `yamlint` off.
1. It is reporting in PRs which have no changes in the `.travis.yml` file, giving the impression that those issues should be fixed before a PR can get merged.
2. It is reporting on line length issues which **cannot be fixed** as these are commands which can't easily be broken up over multiple lines.

PR #128 fixes those lin

[2020-12-07 21:42] kevinfodness commented on #125
I'm noticing that the order of lock/download/install operations from Composer seems to be consistent between runs, but the order in which the standards were added (prior to my patch) did not match the order that Composer was reporting installing the standards. Is it possible that Composer is running some of these operations async?

[2020-12-07 21:44] jrfnl commented on #125
@kevinfodness Thanks for testing.

Whether or not there is a `lock` file, shouldn't actually make a difference in the output for this plugin. If the `installed_paths` was previously set, it should still be set.

Example output of a local run I did after manually deleting the `lock` file from a previous install:
![image](https://user-images.githubusercontent.com/663378/101409058-9abdf400-38dd-11eb-

[2020-12-07 21:49] jrfnl commented on #125
I honesty don't know.... anyone ?

[2020-12-07 21:49] kevinfodness commented on #125
In my use case, since the Travis CI container is created fresh each time the job runs, there are no `installed_paths` set, because the config file for the installed paths is in the `vendor` directory, which doesn't get created on the container until `composer install` is run.

[2020-12-07 21:52] kevinfodness commented on #125
I think I have an answer on the async - if I'm reading this code correctly, then Composer _is_ running operations async, and the order in which the post-install hooks get added depends on when the packages install, which is itself an async operation:

https://github.com/composer/composer/blob/b7d770659b4e3ef21423bd67ade935572913a4c1/src/Composer/Installer/InstallationManager.php#L417-L444

So, in

[2020-12-07 22:19] jrfnl commented on #125
@kevinfodness thanks for looking into this deeper!

I must be missing something obvious, but if the `onDependenciesChangedEvent()` is called only _after_ the complete install has finished, that should not influence the working of this plugin.

AFAICS, it is only if `onDependenciesChangedEvent()` would be trigger _before all installs are finished_ that the async running of the installs could influe

[2020-12-08 02:35] kevinfodness commented on #125
Yep—I don't know all of the Composer internals, but something inherent to the async workings of Composer that would cause the order of the packages to be different on a first, fresh install, like in a CI environment, as you said.

[2020-12-08 08:23] Seldaek commented on #125
Sooo.. yes indeed the order of packages in the local repository is not guaranteed. It is sorted by name on write though to make sure the installed.json does not change between runs/machines so when reloading it it would be guaranteed, but while it's installing packages it's not sorting them because nobody ever cared.

If you need this in a given order, I'd suggest sorting the paths or the packages

[2020-12-08 08:46] jrfnl commented on #125
@Seldaek Thanks for confirming and that's exactly the solution which was pulled by @kevinfodness and has been merged.

I think we can safely conclude based on the above discussion and confirmation that there is indeed no _race condition_, which was what the "digging deeper" above was trying to investigate. So, all is good :+1:

[2020-12-08 08:48] Potherca commented on #114
That is indeed weird :thinking:. I'll look into this to see what's up...

[2020-12-08 08:55] Potherca commented on #125
Thanks for looking into this further @jrfnl and @kevinfodness! I was planning on doing a follow-up, but you guys saved me a lot of time (which is still a bit scarce).

And thank you @Seldaek for your confirmation on this. I know how busy you are, your insights are much appreciated!

[2020-12-08 09:01] jrfnl commented on #125
~~you guys~~ ++you all++ (didn't you just update the CoC ?)

[2020-12-08 15:38] Potherca commented on #125
Thanks for pointing that out! I've still not recovered the muscle-memory from my fingers 100% when typing. Fixed now. :+1:

[2020-12-08 15:41] jrfnl commented on #125
@Potherca No worries :wink:

[2020-12-15 16:57] lilithebowman commented on #119
[code]

How is this invalid?

This suddenly broke a CI for me. 🤷‍♀️

[2020-12-15 17:11] jrfnl commented on #119
@lilithebowman Your issue is a different one from the one described above.

All the same, the solution is the same: update the allowed version of this plugin to `^0.7.0`.

Background:
Any version of the plugin prior to `0.7.0` only allowed installation on PHP 5.x and 7.x. Version `0.6.2` (the last version before `0.7.0`) was released in January this year, well before it was clear what would change

[2020-12-16 07:45] Potherca opened #129 "Plugin is [NOT] incompatible with PHP 8"
[code]

How is this invalid?

This suddenly broke a CI for me. 🤷‍♀️

_Originally posted by @lilithebowman in https://github.com/Dealerdirect/phpcodesniffer-composer-installer/issues/119#issuecomment-745424644_

[2020-12-16 07:46] Potherca commented on #119
I've created a new issue based on @lilithebowman's comment to address this issue if/when it occurs for other users.

[2020-12-16 07:48] Potherca commented on #129
The solution is the same as #119 : update the allowed version of this plugin to `^0.7.0`.

Background:
Any version of the plugin prior to `0.7.0` only allowed installation on PHP 5.x and 7.x. Version `0.6.2` (the last version before `0.7.0`) was released in January this year, well before it was clear what would change in PHP 8, so there was no way it could be guaranteed that the plugin would work

[2020-12-16 07:51] Potherca commented on #129
@jrfnl Should we maybe tag a `0.8.0` with explicit composer 2 / php 8 support to make it easier for people to see/understand?

[2020-12-16 09:24] jrfnl commented on #129
@Potherca What do you mean by "explicit composer 2 / php 8" ?

Version 0..7.0 already has everything needed for Composer 2 as well as PHP 8 support and both are mentioned in the release changelog.

I think more than anything, people get confused because they don't realize that minors below `0` are treated as majors. Releasing an `0.8.0` is not going to help with that.

[2020-12-16 15:55] Potherca commented on #129
With "explicit" I mean "add something in big letter to the README".

We already say

We might as well add a mention which Composer and PHP versions are(n't) supported.

Yeah. There is that. We'll have that issue until we put out a 1.0 release but we're not there 100%, yet...

[2020-12-16 16:17] jrfnl commented on #129
That's a good idea, but doesn't require a release. As soon as the commit is merged, it will show up in the README here in the repo.

[2020-12-16 20:13] Potherca commented on #129
The release was meant more as a clear marker but I suppose you are correct, and it isn't really needed.

I've got time this weekend for this (and the other documentation task). If the `README.md` has not been updated by Monday, feel free to holler encouragement/insults at my at me :grin:

[2020-12-22 13:41] GaryJones commented on #113
https://github.com/composer/packagist/issues/47 has the current process.

[2020-12-22 14:04] jrfnl commented on #113
@GaryJones Just looked through it and that feels like exactly what we did for PHPCompatibility.

[2021-01-26 15:04] jrfnl commented on #129
@Potherca Is it time yet to start hollering insults ? 😝

[2021-01-27 19:39] Potherca commented on #129
Derp.

I seem to have been severely sidetracked with my work for @pipeline-components and @pdsinterop before Xmas and completely forgot to return to this issue afterward :facepalm:

I'll put it on my worklist and try to bump it to this weekend... Thanks for the reminder!

[2021-01-31 10:44] Potherca opened #131 "Replace deprecated Sensiolabs security checker"
As mentioned in #130, the Sensiolabs security checker has been deprecated and needs to be replaced by an alternative.

Steps to take:

1. [x] Create a longlist of potential replacement candidates
1. [x] Define selection criteria
1. [x] Reduce the longlist to a shortlist based on criteria
1. [x]  Decide on a final replacement

## Longlist

- [Enlightn security-checker](https://github.com/enlightn/s

[2021-01-31 10:48] Potherca commented on #131
@mjrider and @jrfnl Could you chime in here? I want all involved to be heard but I'd like to reach a conclusion with due speed on this.

[2021-01-31 14:24] #114 closed

[2021-01-31 14:35] Potherca commented on #114
Regarding issues being placed in wrong milestones, I could not find anything significant, I will have to follow up on that at the source repo.

[2021-01-31 14:36] Potherca commented on #129
A first draft has been added in #132

[2021-01-31 14:50] Potherca commented on #123
@jrfnl I've made a first draft in #133, your scrutiny is very much welcomed!

[2021-01-31 15:17] jrfnl commented on #131
@Potherca

Re: the criteria - the versioning criteria seems arbitrary as for security tools always using the latest info is kind of relevant.

Re: the shortlist: for documentation purposes it might be an idea to show a checklist for each of the tools on the long list and which criteria they met/didn't meet. Possibly with a short additional paragraph with the reasoning to (not) prefer the tool ?

[2021-02-01 16:11] Potherca commented on #131
It's more about when the _code_ changes, independent of the DB/list it uses. Requiring `dev-master` is an anti-pattern I'd rather avoid.

:+1: I'll update the issue.

[2021-03-13 19:07] tomjn opened #134 "Installation failure on Ubuntu 20"
## Problem/Motivation

On VVV  ( Ubuntu 18.04 )we run a command under PHP 7.4 to install PHPCS with this package.

Recently a contributor tried to upgrade us to an Ubuntu 20 box, but provisioning fails during PHPCS package installation.

This is the command we run, which works on Ubuntu 18 Bionic:

[code]

I managed to simplify the command that fails down to this command:

[code]

This happens und

[2021-03-13 19:15] tomjn commented on #134
So I can install this `composer.json`:

[code]

But not this:

[code]

`vendor/bin/phpcs --config-show`:

[code]

[2021-03-13 19:16] tomjn commented on #134
`"dealerdirect/phpcodesniffer-composer-installer": "dev-master"` does succeed:

[code]

[2021-03-13 20:52] jrfnl commented on #134
@tomjn Pff.. interesting one. I'm not a position to test this, other than via CI as I don't have access locally to Ubuntu bionic.

I am wondering though whether this is really an issue with this plugin or rather an issue with Composer itself ? /cc @Seldaek

As a side-note, and most likely unrelated to the above related issue, I'm wondering why you have the below set of requirements:
[code]

To me,

[2021-03-13 20:55] tomjn commented on #134
Oh the specifics of the `composer.json` are just what `composer require ...` created when I ran the command without this plugin:

[code]

We don't currently have a `composer.json` in the provisioner, but it was useful to know the exact version of dependencies it chose as well as to test the `master` branch vs 0.7.1. Both `composer.json`'s mentioned above ran via composer v2

[2021-03-13 21:00] jrfnl commented on #134
@tomjn Whether set via the `composer.json` or via the command, doesn't really matter. The command does the same: it requires underlying dependencies of your dependencies.

[2021-03-13 21:29] jrfnl commented on #134
@tomjn Okay, so I've done some testing via CI without using Vagrant and I cannot reproduce the issue.

I've tried a number of variations of the command, including one with the `COMPOSER_BIN_DIR` environment variable and all install fine and the standards installed are correctly registered as can be seen in the "Verify" step.

For details of the tests I ran, see:
* Script: https://github.com/jrfnl/

[2021-03-14 08:30] Seldaek commented on #134
Hey, this is a known issue with the vagrant filesystem.. i tried working around it in composer a few days ago but it appears the fix isn't working. You may try as well though maybe you are luckier https://github.com/composer/composer/issues/9627#issuecomment-795173868

There's also a working workaround in that thread.

[2021-03-14 15:11] tomjn commented on #134
VirtualBox* not just Vagrant, a reading of that ticket suggests the cause is micro-caches. This could be confirmed by disabling them and retesting, although FS performance would be compromised, I'm unsure how to configure a VirtualBox VM to test this, and technically this also impacts non-vagrant/virtualbox environments if this theory is correct

[2021-03-14 15:28] jrfnl commented on #131
@Potherca #130 has been merged, but the arguments for using that solution over the other solutions were never added to this ticket... (which is why I didn't merge it before).

[2021-03-14 15:37] jrfnl commented on #134
Thanks @Seldaek for confirming my hunch that this is not an issue with this plugin, or even really with Composer.
With that in mind, I'm going to close this ticket.

@tomjn I suggest you follow the ticket Jordi pointed to.

[2021-03-14 15:37] #134 closed

[2021-03-15 12:21] Potherca commented on #131
This issue got closed when I merged the accompanying MR, I'll re-open it as I _do_ still intend to update it with more info.

[2021-03-15 19:57] mbomb007 opened #135 "Feature Request: auto add phpcs location to PATH"
## Problem/Motivation

[2021-03-17 15:29] mbomb007 commented on #135
Yeah, sounds reasonable.

[2021-03-17 15:29] #135 closed

[2021-06-13 06:30] glodov opened #136 "Plugin is incompatible with Composer 2."
I am trying to create a WordPress Coding Standard project:
```composer create-project wp-coding-standards/wpcs --no-dev```

and getting an error:
[code]

[2021-06-13 09:48] jrfnl commented on #136
This plugin is perfectly compatible with Composer 2.0. In fact, a version making it compatible was released _over a year ago_.

See the issue which has been pinned to the issue board for quite a while for a solution: #119

[2021-06-13 09:48] #136 closed

[2021-06-13 10:50] Potherca commented on #136
TL;DR: You need to _explicitly_ upgrade `dealerdirect/phpcodesniffer-composer-installer` to `^0.7`

To quote the relevant part from #119 :

[2021-06-13 12:30] jrfnl commented on #131
Okay, so I've started working on moving the rest of the CI from Travis to GH Actions and the first thing I run into straight away is that this new dependency conflicts with our supported PHP versions, so unless we want to jump through hoops to use it, I would **strongly** advocate replacing the `enlightn/security-checker` with a tool which actually is compatible with the PHP requirements of this p

[2021-06-13 12:30] Potherca commented on #92
Regarding my schedule: After September, my time was mostly taken up with my work for @pdsinterop and getting everything finished before specific deadlines.

Currently, I'm involved in a project for the Dutch Government implementing COVID-19 related software, for which there is a lot of pressure. So until things settle down, I won't be able to contribute much here (as you have probably already noti

[2021-06-13 12:31] Potherca commented on #129
Changes based on review have been added.

[2021-06-13 13:04] jrfnl commented on #92
@Potherca Appreciate the update.

To be honest, I think between COVID and work pressures, everyone is at, or near, the end of their energy. Also see this blogpost I wrote about this and and other things a while back: https://24daysindecember.net/2020/12/21/a-perfect-storm/

As for my part:
Between wrangling PHPCS and external standards for it to support all the new PHP 8 syntaxes and [getting test

[2021-06-13 15:16] #129 closed

[2021-06-13 15:37] jrfnl commented on #131
PR #137 will remove the `enlightn/security-checker` (which has a minimum PHP requirement of PHP 5.6, while this projects PHP requirement is `>= 5.3`) and replace it with the [`local-php-security-checker`](https://github.com/fabpot/local-php-security-checker).

From the [commit message](https://github.com/Dealerdirect/phpcodesniffer-composer-installer/pull/137/commits/f5906a72d5df70a7e3553fd4ac773a

[2021-06-14 07:45] jrfnl commented on #92
FYI: as we touched upon this issue again yesterday, I got seduced into having a go at creating a working and easily extendable setup for this and after a fruitful night, I now have a working proof of concept.

The first test I've created basically moves the "integration test" as was being run via Travis to PHPUnit.

The principle is basically E2E testing.

The setup I've currently got uses an abst

[2021-06-14 09:23] Potherca commented on #92
Sounds good! I've (almost) always got time for reviews somewhere during each week. :+1:

[2021-06-14 10:19] jrfnl commented on #92
@Potherca Excellent! I'm still trying to work out some kinks and the files need a LOT of clean up, but would appreciate a look. Or even talking some things through/review call.

Current issue, which is only an issue when running locally, shouldn't be an issue in CI: getting the commands to use the *current* PHP version and not the system default version (as they are in a different process). For th

[2021-08-17 09:03] Potherca commented on #131
Closing this as #137 has been merged.

[2021-08-17 09:03] #131 closed

[2021-12-23 10:58] LocalHeroPro opened #142 "Warning allow plugin on composer update"
Reproduce
[code]
Is safe to allow or is some how to resolve that warning?

[2021-12-23 15:27] jrfnl commented on #142
@LocalHeroPro It's perfectly safe to allow this. Once you do, the approval will be added to your `composer.json` and (as long as you commit the change), you won't asked again.
This has to do with the new version of Composer which was released yesterday, please see the release announcement here: https://blog.packagist.com/composer-2-2/#more-secure-plugin-execution

A PR to update the readme with in

[2021-12-23 15:27] Potherca commented on #142
Hi! **TL;DR:** It is safe to allow.

This is a new feature in Composer 2.2, meant to make plugin execution more secure.

<sup>see https://blog.packagist.com/composer-2-2/#more-secure-plugin-execution</sup>

As this plugin is meant to be run by Composer, you should select `y`, to indicate you trust our code to run.

If you do not know whether you can trust our code, review the source code to verify

[2021-12-23 15:27] Potherca commented on #142
@jrfnl Looks like you _just_ beat me to the punch. :smile_cat:

[2021-12-23 15:28] jrfnl commented on #142
@Potherca I love our timing (posting a reply the same moment) 😂

[2021-12-31 12:25] bytestream opened #143 "symfony/finder incompatibility"
## Problem/Motivation

My CI jobs are occasionally failing with the below error

## Expected behaviour

No fatal error

## Actual behaviour

[code]

## Steps to reproduce

Unclear, happens randomly. Composer version is fixed in a Docker image.

## Proposed changes

The issue seems to be with the auto loader and a mismatch in `symfony/finder` versions. I depend on `v5.4.0` while `composer.phar` use

[2021-12-31 12:27] bytestream commented on #143
Will try Composer 2.2 to see if https://github.com/composer/composer/issues/10024 fixes it, but this plugin doesn't list `symfony/finder` as a dependency

[2022-01-21 22:09] jrfnl commented on #92
**_Finally_** got some time to get back to this again. Looking to clean up and improve on what I set up previously over the next few days.

The current setup is PHPUnit based, all the same, I do keep wavering between different options for "test framework", with `expect` being a likely alternative. Also looked at using PHPUnit with `phpt` files and tools like [`cmdt`](https://github.com/cliffano/cm

[2022-01-23 04:39] jrfnl commented on #143
@bytestream Thanks for reporting this. Unfortunately, without a clear way to reproduce this issue, there is not much we can do.

[2022-01-23 10:21] bytestream commented on #143
I think we determined in https://github.com/composer/composer/issues/10413 that it's a composer issue.

[2022-01-23 15:41] jrfnl commented on #143
@bytestream Thanks for the update!

[2022-01-24 11:54] Potherca commented on #92
As luck would have it, I've got a week of work, so I've got some time to look into this in the coming days as wel!

At this point, I think that is a winning argument, so lets keep it at PHPUnit and work out things from there. :+1:

[2022-01-25 12:37] Potherca opened #145 "Drop support for 5.3"
Based on the usage statistics from Packagist and supported versions from PHP_CS we no longer need to support 5.3.

Support can be dropped before we label a stable 1.0 version

[2022-01-25 13:42] Potherca opened #146 "Move repository to PHPCSStandards organisation"
As mentioned before in #113 it is desirable to move this project to an organization that has more contributors and higher visibility.

Currently [PHPCSStandards](https://github.com/phpcsstandards/) looks like the best match.

This issue proposes to move the repository for this project from the Dealerdirect organisation to PHPCSStandards.

Opinions?

[2022-01-25 14:33] jrfnl commented on #145
I'm all for it. 👍🏻

PHPCS 3.x has been out for over four years now (May 2017) and dropped support for PHP 5.3 as well, so I would think most external standards will be using PHPCS 3.x by now and for those who still use PHPCS 2.x, PHP 5.4 would be the new minimum for the plugin and is fully supported on PHPCS 2.x.

It will also simplify a number of things for getting the tests up and running.

The

[2022-01-25 14:35] #142 closed

[2022-01-29 07:01] jrfnl opened #150 "Removal of search depth without dependency change does not update installed paths"
## Problem/Motivation

The plugin updates the `installed_paths` when the installed dependencies have changed or the search depth has changed.

However, when the `phpcodesniffer-search-depth` is _removed_ and the `Dealerdirect\Composer\Plugin\Installers\PHPCodeSniffer\Plugin::run()` method is run via a script, the plugin does not update the `installed_paths`.

So effectively, removing the `phpcodes

[2022-01-30 15:50] #123 closed

[2022-02-03 07:28] jrfnl commented on #92
Status update:

### Done

- [x] Initial setup, including converting integration test from GH Actions to PHPUnit E2E test
    **Status**: PR 153
- [x] Test that the plugin does not act on non-PHPCS standards
    **Status**: Waiting for PR 153 to be merged first
- [x] Test not breaking a pre-existing PHPCS config (issue #98)
    **Status**: Waiting for PR 153 to be merged first
- [x] Test with a pre

[2022-02-04 13:49] Potherca commented on #146
As this motion has been seconded by both other active maintainers, lets make the move!

[2022-02-06 11:11] jrfnl opened #155 "Question: new round of changing the "type" suggestion PRs ?"
At this moment, the plugin very deliberately only registers packages with the `phpcodesniffer-standard` type set in their `composer.json` file with PHP_CodeSniffer (providing a `ruleset.xml` file can be found in the package).

There are currently [307 packages registered in Packagist](https://packagist.org/?type=phpcodesniffer-standard) which use the `phpcodesniffer-standard` type.

When going thr

[2022-02-06 14:18] Potherca commented on #155
That is correct [several MRs](https://github.com/search?q=For+these+installers+to+work%2C+the+package+type+needs+to+be+set+to+%22phpcodesniffer-standard%22.&type=issues), were opened using the [template from our wiki](https://github.com/Dealerdirect/phpcodesniffer-composer-installer/wiki/Template-for-use-with-pull-request-on-custom-code-standard-projects).

The last time, there were 2 other packag

[2022-02-07 08:16] jrfnl opened #156 "Absolute vs relative paths"
I'd like to re-open the discussion around whether the paths registered with PHPCS should be absolute or relative paths.

Some previous issues related to this: #14, #33, #73

### Current status after #28:

* Global installs use absolute paths
* Local installs use relative paths

### Problems I'm seeing

* In some tests on Windows, I'm seeing duplicate relative paths being registered, i.e.:
[code]

[2022-02-09 13:32] jrfnl commented on #146
The one thing we should still discuss about this - should the package also be renamed to `phpcsstandards/...`.

The downside of that is that 1) the stats won't be retained and 2) it will be quite a while before all users have switched over.
The upside of it is that we won't be dependent on the DealerDirect organisation continuing to allow us to manage the package on Packagist.

[2022-02-09 13:59] Potherca commented on #146
My current thinking is (more or less) that we _should_ rename to `phpcsstandards` with release v1.0.
It might be less worrisome that only the statistics for pre-1.0 will be lost that way :grin:

Regarding renaming, we might want to take it one step further and go from `Dealerdirect/phpcodesniffer-composer-installer` to `phpcsstandards/composer-installer` (as the "phpcodesniffer" part is implied in

[2022-02-09 14:03] Potherca commented on #146
Also... Do we have any reason for not pressing the "transfer" button _right now_?

[![image](https://user-images.githubusercontent.com/195757/153216382-1d28c662-c6a8-416a-8a03-3df48ce3eab0.png)](https://github.com/Dealerdirect/phpcodesniffer-composer-installer/settings)

[2022-02-09 14:26] jrfnl commented on #146
Fair enough, clean slate and all.

For the record, current stats are pretty impressive already:

![image](https://user-images.githubusercontent.com/663378/153220908-39d3e26e-aa87-4ef7-9a2e-6c5e49b2caa9.png)

I agree, sounds like a good plan. On that note, we can rename the repo to `composer-installer` as well after the move.

Go for it! I'll handle the accepting on the other end.

[2022-02-09 14:31] GaryJones commented on #146
Does GitHub auto-redirect on a change like that?

[2022-02-09 15:23] Potherca commented on #146
Looks like I'm not allowed:
[code]

[2022-02-09 16:05] jrfnl commented on #146
@Potherca Huh ? That sounds weird - In my view, a transfer request should be allowed to be initiated by any admin of a repo with the acceptance being the responsibility of the organisation on the other end (with a mail notifying them there is a transfer request to accept).

May be something weird on GH's end.

I'll give it a try myself. Didn't want to do that before as for "auditability/transparen

[2022-02-09 16:08] jrfnl commented on #146
Looks like that worked. Shall I rename the repo to `composer-installer straight away as well ?

[2022-02-09 16:36] jrfnl commented on #146
Done!

[2022-02-09 16:58] jrfnl opened #159 "Rename Package for Composer/Packagist"
Follow up on #113 and #146, which contain mentions/discussions about this as well.

Now the repository has moved to the PHPCSStandards organisation and been renamed to `composer-installer`, the question arises whether or not to rename the Composer package too.

Currently the Composer package name is: `dealerdirect/phpcodesniffer-composer-installer`

The proposed new Composer package name would be:

[2022-02-09 16:58] GaryJones commented on #146
I had this issue open before the change was made, and I can confirm that GitHub successfully redirected me back to this issue when reloading the page. 👍🏻

[2022-02-09 17:00] jrfnl commented on #146
@GaryJones Thanks for confirming. The issue will automatically be closed when #158 gets merged, which updates the references to the repo location in all relevant places in the code base.

[2022-02-10 09:30] jrfnl commented on #146
@mjrider Looks like I don't get a notification mail when an invite to an organisation is accepted. Could you please leave a note here when you have ? I will then add you to the "composer plugin admins" team, which should give you admin access to the repo again.

[2022-02-10 10:18] Potherca commented on #159
I haven't done a proof-of-concept for this so I don't know how viable an idea this is, but could a complementary or intermediate solution be to make the old package a metapackage (including only the renamed package) after the rename?

[2022-02-10 10:37] jrfnl commented on #159
I'm not entirely sure what you mean by that, though I seem to recall some discussion on this in one of the threads regarding renaming in the Packagist repo.

You may want to have a read through those:
* https://github.com/composer/packagist/issues/47
* https://github.com/composer/packagist/issues/225
* https://github.com/composer/packagist/issues/496
* https://github.com/composer/packagist/issues/

[2022-02-10 20:19] jrfnl opened #160 "Open discussion: rename the default branch ?"
In a way a "bit late to the party", but should the default branch be renamed away from `master` ?

And if so, what would be the preferred new name ?

Some options:
* A lot of repos have gone with `main`. For a "one branch" repo, that would be an obvious choice.
* As an alternative, but that would also involve a different branching strategy, it could be considered to have a `stable` branch as a rel

[2022-02-10 21:32] Potherca commented on #160
I'm in favor of moving away from `master`.

I'd say, for now, lets just move to `main` ASAP (since we're making other soft-breaking changes to our dev environment anyway).

We can always move to something more elaborate when needed.

My 2️⃣🪙

[2022-03-05 09:46] #145 closed

[2022-03-05 10:07] #146 closed

[2022-03-05 12:36] #9 closed

[2022-03-05 12:42] Potherca commented on #160
Places that need editing for this rename:

https://github.com/PHPCSStandards/composer-installer/blob/5227b24999e01c09a0f23b9bf53c8ee13eec4d05/.github/ISSUE_TEMPLATE/bug_report.md?plain=1#L52
https://github.com/PHPCSStandards/composer-installer/blob/8ab9bb58b13045f5e64ebe9ba13d8701c416dcf3/.github/workflows/integrationtest.yml#L8
https://github.com/PHPCSStandards/composer-installer/blob/8ab9bb58b13

[2022-03-05 12:46] Potherca commented on #160
@jrfnl Do we want to make this change as well for the v1 release?

[2022-03-05 12:56] jrfnl commented on #160
If we make this change, then, yes, the 1.0 release would be a good time to do so.

I suggest doing it *_just_* before the 1.0 release.
That way, if there are people who use `dev-master`, their workflow won't be broken without a notification (i.e. a mention in the release notes for the 1.0 release).

[2022-03-05 13:02] jrfnl commented on #159
Open question: if we do rename the package, do we also want to rename the namespace ?

[2022-03-05 13:21] Potherca commented on #159
One the one hand I don't see much need for it, on the other hand its just the one file (not counting test files) :shrug:

[2022-03-05 14:19] jrfnl commented on #159
Well, the argumentation for doing so would be largely the same as the argumentation for changing the Composer package name: consistency, identity and findability.

[2022-03-05 14:27] Potherca commented on #159
Okay... so what I originally intended with my meta-package idea was this:

In the current situation, we have one repo (on GitHub) and one package (on Packagist)

![image](https://user-images.githubusercontent.com/195757/156887389-8c5463d3-d225-45b4-9965-1407cbb71458.png)

After deprecating the original package and creating a new package (on Packagist) that points to the existing repo, we would cre

[2022-04-18 10:02] Potherca commented on #155
Note to self: Organisation move has been completed! Time to make that long list, yo.

[2022-04-18 16:11] jrfnl commented on #155
@Potherca I'd say: let's wait a little longer until a decision has been taken on #159 as otherwise, we'd have to send in a follow-up PR once that get actioned.

[2022-04-19 10:10] Potherca commented on #155
Making the long-list wouldn't have to wait, but I agree sending should be put on hold until we've got everything in order.

[2022-05-25 12:40] franck-grenier commented on #143
Hello,
having the same (rare) issue on a Laravel 8 app and Composer 2.1.6.

Fixed by removing [slevomat/coding-standard](https://github.com/slevomat/coding-standard/blob/ebe92fe0e976cd4d7ce4b554bce773c54d4685a4/composer.json#L19) dependency which became useless after moving our phpcs to PSR12.

[2022-05-27 17:02] jrfnl opened #181 "CI: exclude Windows / Composer v1 / PHP 5.5 from builds"
The Windows / Composer v1 / PHP 5.5 build keeps failing CI runs semi-randomly, causing more and more exceptions for that particular combi to be added to the test suite.

I'm tempted to remove it from the CI for the following reasons:
1. I suspect that that combination will be rare in real life anyway as most users of PHP 5.5 will have upgraded to Composer 2.2.x by now.
2. The principle is still be

[2022-05-28 06:24] #32 closed

[2022-05-29 11:55] Wirone commented on #32
@jrfnl You've unlocked the _Necromancer_ badge! 😅

[2022-05-29 15:12] Potherca commented on #32
[<img src="https://user-images.githubusercontent.com/195757/170876596-fb5be62e-2b72-4ff9-aca1-42880dc0e33c.png" width="200px" >](https://www.etsy.com/listing/664239313/dungeons-and-dragons-necromancer-pin)

[2022-06-01 02:48] jrfnl commented on #143
I've written up a test scenario to see if this in any reliable way could be reproduced, but no luck.

Test: https://github.com/PHPCSStandards/composer-installer/commit/9eda3f1f1f8a0070a1160507e5623a4201008f7c
Run results: https://github.com/PHPCSStandards/composer-installer/actions/runs/2418906450

@Potherca Shall I clean up the test and pull it anyway ? Or leave this as "can't reproduce" ?

[2022-06-01 12:37] jrfnl commented on #143
Yes and no.

**_Yes, this is primarily a Composer native problem._**

My analysis of what's happening, is as follows:
1. The Composer phar is build with the highest supported version of the `Symfony/Finder` package still supporting the minimum PHP version which needs to be supported for that version of Composer.
    This means the following in practice:

    Composer phar | Includes Finder
    ---

[2022-06-24 10:31] jrfnl commented on #156
@Potherca Would you mind pitching in with an opinion please ?

[2022-06-24 13:15] Potherca commented on #181
Thanks for the ping! This had somehow fallen of my radar. :disappointed_relieved:

I concur, remove at will. :+1:

[2022-06-24 14:53] Potherca commented on #156
Working on a response, to be updated soon (need to catch the bus now :bus::runner::dash:)

[2022-06-25 19:50] Potherca commented on #156
Okay,so... I was trying to remember why relative paths were initially used (other than for convenience) and "how we got here"™️.

One path was through the MRs/Issues linked above, the other was through the commit log.

The current state of afairs (absolute paths for global install, relative path for local install) comes from the use-case outlined in #14.

and

The user feedback basically gives two

[2022-06-25 20:06] #181 closed

[2022-06-25 20:14] jrfnl commented on #156
Just to be complete, we had another report of things not working due to duplicate paths (one relative, one absolute) yesterday: https://github.com/PHPCompatibility/PHPCompatibility/issues/1303#issuecomment-1165417385

[2022-06-26 09:27] Potherca commented on #156
Thinking about the usecase...

- For a single machine setup, either absolute or relative paths works fine regardless of "local" or global install is used.
- For a multi machine setup, _only_ relative paths work, again regardless of local or global.

But multi-machine is _only_ when two (or more) environments use _the same directory_ at _the same time_.

The remote CI/CD for instance is still a sin

[2022-06-26 10:34] jrfnl commented on #156
@Potherca Thanks for adding your perspective. While I agree that adding the config settings would be nice addition, I have a feeling that it doesn't address the real-life problems people currently have with duplicate paths.

[2022-06-28 08:45] Potherca commented on #156
I think we might still want to consider adding the flags to force absolute or relative paths, to give users more control...

[2022-07-06 07:48] dannieleadfamly commented on #143
We're seeing the same thing after installing dealerdirect/phpcodesniffer-composer-installer to get https://github.com/FloeDesignTechnologies/phpcs-security-audit working.

We're currently using the latest stable composer version in CI & are randomly seeing this issue on our CI jobs. Any suggestion workaround and/or fix one can apply to resolve this?

[2022-07-06 07:49] danniehansen commented on #143
We're seeing the same thing after installing dealerdirect/phpcodesniffer-composer-installer to get https://github.com/FloeDesignTechnologies/phpcs-security-audit working.

We're currently using the latest stable composer version in CI & are randomly seeing this issue on our CI jobs. Any suggestion workaround and/or fix one can apply to resolve this?

[2022-07-22 15:52] helgatheviking opened #185 "Error: dealerdirect/phpcodesniffer-composer-installer contains a Composer plugin which is blocked by your allow-plugins config."
## Problem/Motivation

My github action is terminating with an error.

My [github action](https://github.com/kathyisawesome/wc-not-sold-separately/blob/trunk/.github/workflows/release.yml#L40-L68) is calling `composer install`

[code]

Currently the action appears to be installing composer 2.3.10.

My [`composer.json`](https://github.com/kathyisawesome/wc-not-sold-separately/blob/trunk/composer.js

[2022-07-22 17:24] jrfnl commented on #185
@helgatheviking This is not an issue with this plugin, but with a "security feature" which was introduced in Composer 2.2. See this announcement post: https://blog.packagist.com/composer-2-2/#more-secure-plugin-execution

The [Usage section of the readme](https://github.com/PHPCSStandards/composer-installer#usage) contains all the info you need to solve this.

Nothing we can do about this, but you

[2022-07-23 01:31] helgatheviking commented on #185
Thanks so much @jrfnl . I still struggle with this ever since you got my plugin set up to run phpcs. :) I guess I don't understand the point of `allow-plugins`... by declaring a dependency I would think that I've already accepted I want that code to run.

Hopefully last question... can the [woocommerce-sniffs](https://github.com/woocommerce/woocommerce-sniffs) repo add the `config` section in [the

[2022-07-23 09:46] jrfnl commented on #185
Well, it was introduced as a security feature and while this plugin is quite innocent and limited in what it does (and therefore not problematic), there are other plugins which can make code changes in dependencies, so I can see how the `allow-plugins` feature could save someone's bacon who is not fully aware of the capabilities of each plugin dependency which was added.

The `woocommerce-sniffs`

[2022-08-18 10:35] Potherca opened #187 "🥳 Release v1.0 🎉"
With all of the hard work, changes and improvements over the last year (or two), we have reached a point where we can confidently say that this project has matured to a stable point.

Because of this, we will be releasing v1! 🥳🎉

This ticket is meant as a central point to coordinate what needs to be done for this release.

I think the first point in order is to decide which task belong in the v1 w

[2022-08-18 12:25] jrfnl commented on #187
@Potherca Thanks for opening this ticket.

Here's my two cents regarding the "To be decided" tickets, which I largely base on semver reasoning:

The base functionality of the plugin is currently safeguarded by tests in a much better way than ever before (which is the trigger to tag as `1.0`). Additional tests are definitely welcome, but can be added at any time as tests don't ship with the release

[2022-08-18 12:46] jrfnl opened #188 "Rename the namespace"
Previously mentioned in comments in #159

The package has moved to a new organisation - see #146.

For consistency and predictability as well as not to confuse people less familiar with the history of the project, I'd like to propose updating the namespace.

I'm undecided on what the new namespace should be.

The other projects in the `PHPCSStandards` organisation do not use the `PHPCSStandards` n

[2022-08-18 12:46] jrfnl commented on #187
One thing not mentioned in the above (but mentioned in comments in ticket #159) is "updating the namespace of the plugin to be in line with the new organisation the repo lives in".

As that _could_ be regarded as a breaking change on the off-chance that there would be a package _extending_ or build on top of this plugin, I'd be in favour of doing this and doing this before the `1.0.0` release.

I'

[2022-08-18 13:50] Potherca commented on #187
Regarding changing the Packagist name, I would _really_ like to do the rename but in a backward compatible manner. I have no idea _how_ but I might be able to come up with something _if_ I manage to find some time to allocate to the task.

In the mean time, actionable tasks that can already be resolved are:

- Rename the namespace to whatever is decided in the relevant issue

And possibly:

- Rena

[2022-08-18 15:22] jrfnl commented on #187
Maybe we should ask @Seldaek if that's even possible ?

[2022-08-18 15:23] jrfnl commented on #187
Prepare a human readable changelog which clearly lists any breaking changes ;-)

[2022-08-18 19:08] Seldaek commented on #187
If you want to rename see https://github.com/composer/packagist/issues/47#issue-1923500

It's BC for users as the old name keeps working but I'd only do it if it's worth annoying every single user with the abandoned status etc.

[2022-08-18 20:08] jrfnl commented on #159
Copying over my comment about this from https://github.com/PHPCSStandards/composer-installer/issues/187#issuecomment-1219428851 for visibility:

[2022-08-21 20:01] Potherca commented on #143
@danniehansen My apologies for the late reply, I watch comments on issues less strictly than new issue.

Regarding `FloeDesignTechnologies/phpcs-security-audit`, as this issue lies largely beyond the code of this project more information would be needed to make any suggestions (like which php, composer, codesniffer and plugin versions are used and potentially which other dependencies were used.)

[2022-08-29 22:39] limonazzo commented on #143
I update `friendsofphp/php-cs-fixer` to the last version (3.10) and errors disappear.
😐

[2022-09-09 08:04] danniehansen commented on #143
@Potherca Sorry for the late reply as well. Here is the information that I have at hand:

**PHP version:** 8.0

**composer.json:**
[code]

Versions resolved from selectors related.

squizlabs/php_codesniffer: 3.7.1
pheromone/phpcs-security-audit: 2.0.1
micheh/phpcs-gitlab: 1.1.0
dealerdirect/phpcodesniffer-composer-installer: 0.7.2

-

We're seeing the issue quite frequently in our jobs. Stopping

[2022-09-19 16:20] mreduar commented on #143
The same thing happens to me. We are using bitbucket pipelines and I think the problem occurs when there are two or more pipelines running at the same time.

[2022-09-19 16:23] jrfnl commented on #143
I'm reopening the issue for further investigation, though I'm not holding out much hope that we'll be able to find a stable solution. All the same, between the combined brainpower in this thread who knows what we can come up with ;-)

[2022-09-22 14:05] Potherca commented on #143
yeah, I'd _love_ to be able to reproduce this. I've been chewing on an idea that boils down to brute forcing a reproduction scenario: automatically creating all variations of a known "broken" `composer.json`'s dependencies and then triggering random builds on those variations until one of them breaks in the expected fashion...

[2022-09-22 14:11] mreduar commented on #143
Here you can see the `composer.json` which sometimes causes the error.
https://www.klgrth.io/paste/xfmvb/raw
If you need any other information that I can provide I will be attentive.

[2022-09-22 15:04] dannieleadfamly commented on #143
One thing I've found that may help reproduce this is when resources on the machine running the CI job are exhausted. After we switched from raw EC2 instances running our CI jobs with 1 job per machine to Kubernetes with 2 EC2 instances running concurrent jobs - then we started seeing it almost every time.

So I have a sinking feeling that it may be more easily reproducible in an environment that i

[2022-09-26 20:53] Potherca commented on #188
Not that I am aware of. If there _are_ we're currently not adhering to any :smirk:

Alos, I keep reading "PHP CSS Tandards". :sweat_smile:

[2022-09-26 20:57] jrfnl commented on #188
You mean "PHP CSS Tandar**t**s" ? 😁  (For anyone watching, Dutch joke, just ignore)

[2022-10-03 16:19] jrfnl commented on #185
@helgatheviking Can we close this issue as "answered" ?

[2022-10-03 16:21] jrfnl commented on #185
@Potherca FYI: I've added this issue to the "pinned issues" and remove the pins related to Composer 2.x and PHP 8.0 as those are a bit dated by now.

[2022-10-03 18:28] helgatheviking commented on #185
I'm cool with that. Thank you for the detailed explanation.

[2022-10-04 19:14] fredden commented on #159
This can be mitigated by moving this to the new name, and creating a meta-package at the old name that requires the new package.

Something like:

[code]

[2022-10-04 19:24] jrfnl commented on #159
@fredden Thanks for pitching in. Unfortunately, AFAICS, such a construct is not going to help much.

While renaming the package in `require[-dev]` will be a pain for people, that is not the main pain-point as a lot of projects "inherit" the plugin with external PHPCS standards, so the amount of packages in which this needs to be changed is limited.

The biggest end-user impact of a rename would be

[2022-10-04 19:31] fredden commented on #159
Yes, I can see the main pain-point will be `allow-plugins` which a meta-package won't help with. I wonder if we can manipulate that setting via a plugin (so we can use our current permission under the old name to automatically add the new name to the list). Is that something you'd like explored, or has the decision been made to keep the old name forever?

[2022-10-04 20:02] jrfnl commented on #159
Well, I'm pretty sure that it is technically feasible, we effectively do something like that in the test suite of this project.

Having said that, IMO, I don't think it is desirable to do this as it would effectively bypass and undermine this security feature Composer put in place, which I don't think is the right thing™ to do.

It would also create a lot of questions and possibly uproar when peop

[2022-10-05 10:56] Potherca commented on #159
This comes back to [my original comment regarding meta-packages and wrapper repos](https://github.com/PHPCSStandards/composer-installer/issues/159#issuecomment-1059774646).

The only possible solution for two packages is creating two repos: a renamed package repo which contains the actual code and the original named package repo with only a transparent PHP proxy class (which extends the code from

[2022-10-05 11:11] Potherca commented on #159
To clarify what I mean, I've made an example implementation:  75705271784bf3ea1384c0409a14fb3ce39e4c5d (branch [`issues/159-rename-package-for-packagist`](https://github.com/PHPCSStandards/composer-installer/tree/issues/159-rename-package-for-packagist))

[2022-10-05 12:20] jrfnl commented on #159
I wonder about the `allow-plugins` though,... wouldn't Composer ask permission for both packages which are marked as `composer-plugin` ? After all, the "new" package would also be installed and be registered as a Composer plugin...

[2022-10-06 20:01] Potherca commented on #159
We'll have to try (with a dummy) to see what actually happens, I think.

(Or try and see by reading the Composer codebase. Or both? :shrug: )

I'll see when I can make some time to try.

[2022-10-26 13:11] danniehansen commented on #143
For anyone else that become stuck on this issue & need a solution here and now. We decided just to script our way out of it using the following bash script:

[code]

In our case it automatically resolves itself after attempting the second time. Leading us to think it's a matter of system constraints at that point in time provoking it. We've had 0 issues after using the above bash in our pipelines

[2022-11-21 22:18] paulshryock commented on #160
Another vote +1 for `main` branch just before the 1.0 release.